<!doctype html>
<html>
<head>
    <title>{site.seo_title}</title>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap-extend.min.css" />
    <link href="{config.webpath}css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{config.webpath}css/flagicon/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/swiper/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/breakpoints.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 30,
                loop: true
            });

            Breakpoints();
            if ($(".met-index-service .services-box").length && $(".met-index-service .services-box img[data-original]").lazyload({
                threshold: 300,
                effect: "fadeIn"
            }),
                $(".met-index-product").length && scrollFun($(".met-index-product"), 300,
                    function () {
                        $(".met-index-product .owl-carousel").owlCarousel({
                            loop: !0,
                            margin: 10,
                            nav: !0,
                            lazyLoad: !0,
                            dots: !1,
                            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                            autoplay: !0,
                            autoplayTimeout: 1000,
                            autoplayHoverPause: !0,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                767: {
                                    items: 1
                                },
                                970: {
                                    items: 2
                                },
                                1024: {
                                    items: 3
                                },
                                1200: {
                                    items: 4
                                }
                            }
                        })
                    }),
                $(".met-index-cases").length && scrollFun($(".met-index-cases"), 300,
                    function () {
                        $(".met-index-cases .owl-carousel").owlCarousel({
                            loop: !0,
                            margin: 30,
                            nav: !0,
                            lazyLoad: !0,
                            dots: !1,
                            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                            autoplay: !0,
                            autoplayTimeout: 3e3,
                            autoplayHoverPause: !0,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                767: {
                                    items: 1
                                },
                                970: {
                                    items: 2
                                },
                                1024: {
                                    items: 3
                                },
                                1200: {
                                    items: 3
                                }
                            }
                        })
                    }));


            if ($(".met-index-case").length) {
                Breakpoints.get("xs").on({
                    enter: function () {
                        if (!$(".met-index-case .nav-tabs").parent().hasClass("swiper-container")) {
                            $(".met-index-case .nav-tabs").addClass("swiper-wrapper").wrap('<div class="swiper-container"></div>').find(">li").addClass("swiper-slide").css("width", "auto");
                            new Swiper(".swiper-container", {
                                slidesPerView: "auto"
                            });
                            $(".met-index-case .nav-tabs").width(sonWidthSum(".met-index-case .nav-tabs>li") + 5)
                        }
                    }
                });
                var t = ".met-index-case .blocks",
                    e = ".met-index-case .nav-tabs li";
                $(t + " [data-original]").lazyload({
                    threshold: 300,
                    effect: "fadeIn",
                    skip_invisible: !0
                }),
                    IsotopeNum(t, e),
                    removeImageSize(t + " [data-original]",
                        function () {
                            $(e + ".active a").trigger("click")
                        })
            }
        })
    </script>
</head>

<body id="index" class="yue-navfixed">
<!--[if lte IE 8]>
    <div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
    <p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
    </div>
<![endif]-->
    
<div id="page">
<!--页面头部-->
<%template src="_header.html"%>
<!--/页面头部-->
<div class="swiper-container">
    <div class="swiper-wrapper ">
        <div class="swiper-slide">
            <img src="/upload/201804/01/201804011146171347.jpg" sizes="(max-width: 767px) 767px"  data-height='0|0|0'/>
            <div class="banner-text p-0" met-imgmask>
                <div class='container'>
                    <div class='banner-text-con'>
                        <div>
                            <h4 class="animation-slide-top font-weight-500" style="color:#ffffff">Know You More</h4>
                            <p class="animation-slide-bottom" style='color:#ffffff'>懂你，总会多一点</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide"><img src="/upload/201804/01/201804011145448828.jpg" /></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
    <div class="met-index-service met-index-body">
        <div class="container services-bg">
            <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="#" title="产品&解决方案" target='_self'>产品&解决方案</a></h3>
            <p class="desc animation-fade appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false">我们为不同行业提供专业的产品&解决方案</p>
            <div class="row">
                <div class="col-lg-6 col-md-12 animation-slide-top" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
                    <a href="/solutions/54.html" title="生产制造" target='_self'>
                        <div class="services-box">
                            <img data-original="<%templateskin%>/images/qiche.jpg" src="<%templateskin%>/images/qiche.jpg" title="汽车行业配套产品" alt="汽车行业配套产品">
                            <div class="content">
                                <h4>生产制造</h4>
                                <p>越邦科技为生产制造企业提供财务、供应链、智能制造、仓储等系列IT解决方案和产品。</p>
                            </div>
                        </div>
                    </a>
                    <a href="/solutions/52.html" title="物流运输" target='_self'>
                        <div class="services-box">
                            <img data-original="<%templateskin%>/images/guanlu.jpg" src="<%templateskin%>/images/guanlu.jpg" title="管路产品" alt="管路产品">
                            <div class="content">
                                <h4>物流运输</h4>
                                <p>为第三方物流仓储企业提供整套完整信息化解决方案，产品有仓储管理系统（WMS）、订单软件（OMS）、运输管理系统（TMS）产品，</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class='col-lg-6 col-md-12'>
                    <a href="/solutions/56.html" title="协同效率" target='_self'>
                        <div class="services-box">
                            <img data-original="<%templateskin%>/images/jiadian.jpg" src="<%templateskin%>/images/jiadian.jpg" title="家电产品" alt="家电产品">
                            <div class="content">
                                <h4>协同效率</h4>
                                <p>提供协同办公软件（OA）、客户关系管理软件（CRM)、建筑工程管理系统</p>
                            </div>
                        </div>
                    </a>
                    <a href="/solutions/55.html" title="互联网基础服务" target='_self'>
                        <div class="services-box">
                            <img data-original="<%templateskin%>/images/thumb_002.jpg" src="<%templateskin%>/images/thumb_002.jpg" title="电子产品" alt="电子产品">
                            <div class="content">
                                <h4>互联网基础服务</h4>
                                <p>为各类企业提供域名、虚拟主机、云服务器、IT安全等互联网基础服务产品</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="met-index-about met-index-body">
        <div class="container-fluid">
            <div class="left_side animation-slide-top" data-animate="slide-top" data-bg="<%templateskin%>/images/1487214347.jpg" bg-repeat="false" style='background-image: url("<%templateskin%>/images/1487214347.jpg");'>
                <div class="we_are_opacity">
                    <div class="we_are_border">
                        <h2>关于我们</h2>
                    </div>
                </div>
            </div>
            <div class="right_side animation-slide-top" data-animate="slide-top" data-plugin="appear" data-repeat="false">
                <div class="we_are_deatails">
                    <h2><a href="about/1-cn.html" title="公司简介" target='_self'>公司简介</a></h2>
                    <p>
                    <p>上海越邦网络科技有限公司是专注于企业信息化整合应用解决方案服务商，致力于为企业提供IT信息化、互联网+和移动应用IT整体解决方案和服务。</p>
                    <p>公司总部位于中国上海，我们拥有一批资深的专业技术人员、企业咨询顾问和项目管理专家，建立了规模化的产品研发、培训、咨询、营销和服务体系，并基于先进的项目管理、知识管理为客户提供优质的产品和服务。在移动互联网的平台技术、应用产品和服务网络等方面与众多企业开展了全方位的合作。</p>

                    <p>越邦网络以“为合作伙伴创造价值”为企业使命，提供包括企业ERP管理软件、金蝶全系列软件、协同办公（OA）软件、CRM客户关系管理软件、软件开发、APP应用开发、微信企业号、小程序开发等丰富的信息化服务产品和服务，以及各业务平台与阿里钉钉、腾讯微信平台进行无缝集成服务，为客户提供高精准、高性价比的信息化服务，帮助中小企业实现互联网+的成功。</p>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="met-index-bottomcontact met-index-body">
        <div class="container">
            <div class="row">
                <div class="partner col-lg-12 col-md-12">
                    <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="hezuo/list-39-cn.html" title="合作伙伴" target='_self'>合作伙伴</a></h3>
                    <p class="desc animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false"> 欢迎更多的公司成为我们的合作伙伴</p>
                    <div class="row">
                        <ul class="partnerli">
                            <%set DataTable hotPartnerList=get_article_list("partner", 30, "status=0 and is_hot=1")%>
                            <%loop prdr hotPartnerList%>
                            <li class="col-lg-1 col-md-2  col-sm-2 col-xs-3"><a href="#" title="{prdr[title]}" target='_self' class="met-img"><img src="{prdr[img_url]}" title="{prdr[title]}" alt="{prdr[title]}"></a></li>
                            <%/loop%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="met-index-cases met-index-body" data-bg="<%templateskin%>/images/cases_bg.jpg" style="background-image:url(<%templateskin%>/images/cases_bg.jpg);" bg-repeat="false">
        <div class="container">
            <div class="owl-carousel" data-plugin="appear" data-animate="fade" data-repeat="false">
                <%set DataTable redCaseList=get_article_list("case", 9, "status=0 and is_red=1")%>
                <%loop casedr redCaseList%>
                <div class="item">
                    <div class="testimonials">
                        <div class="testimonials-content">
                            <h3>{casedr[title]}</h3>
                            <p>{casedr[zhaiyao]}</p>
                        </div>
                        <div class="testimonials-author">
                            <img class="owl-lazy" data-src="{casedr[img_url]}" src="{casedr[img_url]}" title="{casedr[title]}" alt="{casedr[title]}" height="350">
                            <span class="t-mgr30">{casedr[source]} </span>
                        </div>
                    </div>
                </div>
                <%/loop%>
            </div>
        </div>
    </div>
    <div class="met-index-news met-index-body">
        <div class="container">
            <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="<%linkurl("news")%>" title="资讯中心" target='_self'>资讯中心</a></h3>
            <p class="desc animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false">最新行业资讯和公司动态</p>

            <div class="row">
                <%set DataTable newsList=get_article_list("news", 3, "status=0")%>
                <%loop newsdr newsList%>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
                    <div class="img-holder">
                        <img class="cover-image" data-original="{newsdr[img_url]}" src="{newsdr[img_url]}" alt="{newsdr[title]}" title="{newsdr[title]}" width="370" height="200">
                        <div class="overlay">
                            <a href="<%linkurl("news_show",{newsdr[id]})%>" title="{newsdr[title]}" target='_self'>
                                <div class="overlays">
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul>
                        <li><span><%datetostr({newsdr[add_time]},yyyy-MM-dd)%></span></li>
                        <li><p><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>{newsdr[click]}</p></li>
                    </ul>
                    <a href="<%linkurl("news_show",{newsdr[id]})%>" title="{newsdr[title]}" target='_self'><h2>{newsdr[title]}</h2></a>
                    <p>{newsdr[zhaiyao]}</p>
                </div>
                <%/loop%>
            </div>
        </div>
    </div>

<!--页面底部-->
<%template src="_footer.html"%>
<!--/页面底部-->

</div>
</body>
</html>