<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>资源下载 - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body ontouchstart>
<div class="page">
    <!--页面头部-->
    <div class="header">
        <a class="back" href="javascript:history.back();">
            <i class="iconfont icon-arrow-left"></i>
        </a>
        <h3>资源下载</h3>
        <div class="right"> 
            <a class="weui-cell_access weui-cell_link" onclick="showDialogBox('#category-box');">
                <i class="iconfont icon-nav"></i>
            </a>
        </div>
    </div>
    <!--/页面头部-->
  
    <!--页面内容-->
    <div class="page__bd">
        <!--最新资源-->
        <div class="weui-panel weui-panel_access" style="margin-top:10px;">
            <div class="weui-panel__hd">最新资源</div>
            <div class="weui-panel__bd">
                <div class="txt-list">
                    <ul>
                        <%set DataTable newList=get_article_list(channel, 0, 8, "status=0 and img_url<>''")%>
                        <%loop newdr newList%>
                        <%if(newdr__loop__id==1)%>
                        <li>
                            <a href="<%linkurl("down_show",{newdr[id]})%>">
                                <img src="{newdr[img_url]}" />
                                <h2>{newdr[title]}</h2>
                                <p class="intro">{newdr[zhaiyao]}</p>
                            </a>
                        </li>
                        <%else%>
                        <li>
                            <a href="<%linkurl("down_show",{newdr[id]})%>">
                                <i class="date"><%datetostr({newdr[add_time]},MM-dd)%></i>
                                <span class="text">{newdr[title]}</span>
                            </a>
                        </li>
                        <%/if%>
                        <%/loop%>
                    </ul>
                </div>
            </div>
            
        </div>
        <!--最新资源-->
        
        <!--推荐资源-->
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">推荐资源</div>
            <div class="weui-panel__bd">
                <div class="txt-list">
                    <ul>
                        <%set DataTable redList=get_article_list(channel, 0, 5, "status=0 and is_red=1 and img_url<>''")%>
                        <%foreach(DataRow dr in redList.Rows)%>
                        <li>
                            <a href="<%linkurl("down_show",{dr[id]})%>">
                                <img src="{dr[img_url]}" />
                                <h2>{dr[title]}</h2>
                                <div class="note">
                                    <p>{dr[zhaiyao]}</p>
                                    <p>
                                        <i class="hot">{dr[click]}人</i>
                                        <i class="date">时间：<%datetostr({dr[add_time]},yyyy-MM-dd)%></i>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>
        <!--/推荐资源-->
        
        <!--人气排行-->
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">人气排行</div>
            <div class="weui-panel__bd">
                <div class="txt-list">
                    <ul>
                        <%set DataTable hotList=get_article_list(channel, 0, 10, "status=0", "click desc,id desc")%>
                        <%loop hotdr hotList%>
                        <li>
                            <a href="<%linkurl("down_show",{hotdr[id]})%>">
                                <i class="date">{hotdr[click]}次</i>
                                <i class="number">{hotdr__loop__id}</i>
                                <span class="text">{hotdr[title]}</span>
                            </a>
                        </li>
                        <%/loop%>
                    </ul>
                </div>
            </div>
        </div>
        <!--/人气排行-->
    
        <!--版权信息-->
        <%template src="_copyright.html"%>
        <!--/版权信息-->

        <!--底部导航-->
        <%template src="_footer.html"%>
        <!--/底部导航-->
    </div>
    <!--/页面内容-->
</div>

<!--类别容器-->
<div id="category-box" class="dialog-wrap">
    <div class="dialog-box">
        <div class="header">
            <a class="back" href="javascript:;" onclick="closeDialogBox('#category-box');">
                <i class="iconfont icon-arrow-left"></i>
            </a>
            <h3>栏目类别</h3>
        </div>
        <ul class="navbar">
            <%set DataTable categoryList1=get_category_child_list(channel, 0)%>
            <%foreach(DataRow cdr1 in categoryList1.Rows)%>
            <li>
                <h3><a href="<%linkurl("down_list",{cdr1[id]})%>">{cdr1[title]}</a></h3> 
                <p>
                <%set DataTable categoryList2=get_category_child_list(channel, {strtoint({cdr1[id]})})%>
                <%foreach(DataRow cdr2 in categoryList2.Rows)%>
                    <a href="<%linkurl("down_list",{cdr2[id]})%>">{cdr2[title]}</a>
                <%/foreach%>
                </p>
            </li>
            <%/foreach%>
        </ul>
    </div>
</div>
<!--类别容器-->

</body>
</html>
