<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>错误提示</title>
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
</head>

<body ontouchstart>
<div class="page">
    <!--页面内容-->
    <div class="page__bd">
        
        <div class="weui-msg msg-box">
            <div class="weui-msg__icon-area">
                <i class="weui-icon-warn weui-icon_msg"></i>
            </div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">错误提示</h2>
                <p class="weui-msg__desc">
                    {msg}
                </p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_default" href="/index.html">返回首页</a>
                </p>
            </div>
        </div>
    
  </div>
  <!--/页面内容-->

</div>
</body>
</html>
