<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>货源查询-{model.title}-{site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
<link rel="stylesheet" type="text/css" href="{config.webpath}css/pagination.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body id="news" ontouchstart>
<div class="page">
    <!--页面头部-->
    <div class="header">
        <a class="back" href="javascript:history.back();">
            <i class="iconfont icon-arrow-left"></i>
        </a>
        <h3>货源查询</h3>
        <div class="right"> 
            <a class="weui-cell_access weui-cell_link" hrhref="javascript:;" onclick="showDialogBox('#category-box');">
                <i class="iconfont icon-nav"></i>
            </a>
        </div>
    </div>
    <!--/页面头部-->
  
    <!--页面内容-->
    <div class="page__bd">
        <script type="text/javascript" src="/plugins/advert/advert_js.ashx?id=3"></script>
        <!--资讯列表-->

        <div class="weui-panel weui-panel_access" style="margin-top:10px;">
            
        <!--取得一个分页DataTable-->
        <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status in(0,3)", out totalcount, out pagelist, "goodsopportunity_list", category_id, "__id__")%>
            <div class="weui-panel__hd">{model.title},共计{totalcount}条</div>
            <div class="weui-panel__bd">
                <div class="text-list">
                    <ul>
                        
                        <%loop newdr newsList%>
                        <%set string category_title=get_category_title({strtoint({newdr[category_id]})},"货源")%>
                        <li>
                            <a href="<%linkurl("goodsopportunity_show",{newdr[id]},"1")%>" class="note">
                                <%if({newdr[status]}=="3")%>
                                <i class="datetip">已交易</i> 
                                <%else if({newdr[status]}=="0")%>
                                <i class="statustip">未交易</i>
                                <%/if%>
                                <h2>[{category_title}]{newdr[title]}</h2>
                                <p class="introb green">{newdr[ExpressLine]}</p>
                                <p class="intro">重量：{newdr[GoodsWeight]}&nbsp;&nbsp; 体积：{newdr[GoodsVolume]}</p>
                                <!--<p class="price">期望运费：{newdr[ExpectMoney]}</p>-->
                            </a>
                            <%if({newdr[mobile]}!="")%>
                            <p class="intro">手机：<a href="tel:{newdr[mobile]}">{newdr[mobile]}</a></p>
                            <%else if({newdr[telphone]}!="")%>
                            <p class="intro">电话：<a href="tel:{newdr[telphone]}">{newdr[telphone]}</a></p>
                            <%/if%>
                            <a href="<%linkurl("goodsopportunity_show",{newdr[id]},"1")%> " class="note">
                                <p class="intro">联系人：{newdr[contact]}</p>
                                <p class="intro">发货时间：<span class="red"><%datetostr({newdr[sendDate]},MM月dd日)%></span></p>
                                <p class="txt-add-date right"><span><%datetostr({newdr[add_time]},MM-dd HH:MM)%>发布</span></p>
                            </a>
                        </li>
                        <%/loop%>
                    </ul>
                </div>
            </div>
        </div>
        <!--/资讯列表-->
        
        <!--分页页码-->
        <div class="page-list">
            {pagelist}
        </div>
        <!--/分页页码-->
    
        <!--版权信息-->
        <%template src="_copyright.html"%>
        <!--/版权信息-->

        <!--底部导航-->
        <%template src="_footer.html"%>
        <!--/底部导航-->
    </div>
    <!--/页面内容-->
</div>

<!--类别容器-->
<div id="category-box" class="dialog-wrap">
    <div class="dialog-box">
        <div class="header">
            <a class="back" href="javascript:;" onclick="closeDialogBox('#category-box');">
                <i class="iconfont icon-arrow-left"></i>
            </a>
            <h3>货源分类</h3>
        </div>
        <ul class="navbar">
            <li>
                <h3><a href="/goodsopportunity/0.html">全部</a></h3> 
            </li>
            <%set DataTable categoryList1=get_category_child_list(channel, 0)%>
            <%foreach(DataRow cdr1 in categoryList1.Rows)%>
            <li>
                <h3><a href="<%linkurl("goodsopportunity_list",{cdr1[id]})%>">{cdr1[title]}</a></h3> 
                <p>
                <%set DataTable categoryList2=get_category_child_list(channel, {strtoint({cdr1[id]})})%>
                <%foreach(DataRow cdr2 in categoryList2.Rows)%>
                    <a href="<%linkurl("goodsopportunity_list",{cdr2[id]})%>">{cdr2[title]}</a>
                <%/foreach%>
                </p>
            </li>
            <%/foreach%>
        </ul>
    </div>
</div>
<!--类别容器-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        wx.ready(function () {
            wx.checkJsApi({
                jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function (res) {
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                }
            });
            wx.hideOptionMenu();
        });
    </script>
</body>
</html>
