<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>物流专线查询-{model.title} - {site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
<link rel="stylesheet" type="text/css" href="{config.webpath}css/pagination.css" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/PCASClass.js"></script>
</head>

<body id="news" ontouchstart>
<div class="page">
    <!--页面头部-->
    <div class="header">
        <a class="back" href="javascript:history.back();">
            <i class="iconfont icon-arrow-left"></i>
        </a>
        <h3>专线查询</h3>
        <div class="right"> 
            <a class="weui-cell_access weui-cell_link" hrhref="javascript:;" onclick="showDialogBox('#category-box');">
                <i class="iconfont icon-search"></i>
            </a>
        </div>
    </div>
    <!--/页面头部-->
  
    <!--页面内容-->
    <div class="page__bd">
        <!--资讯列表-->
        <div class="weui-panel weui-panel_access" style="margin-top:10px;">
            <div class="weui-panel__hd">
                <a href="javascript:void(0);" style="width:45%;float:left;position:relative;" id="starAddress">始发地选择</a>
                <a href="javascript:void(0);" style="width:45%;float:right;position:relative;" id="endAddress">目的地选择</a>
            </div>
            <div class="weui-panel__hd">{model.title}</div>
            <div class="weui-panel__bd">
                <div class="text-list">
                    <ul>
                        <!--取得一个分页DataTable-->
                        <%set DataTable newsList=get_article_list(channel, category_id, pagesize, page, "status=0", out totalcount, out pagelist, "lineselect", category_id, "__id__")%>
                        <%foreach(DataRow dr in newsList.Rows)%>
                        <%set string category_title=get_category_title({strtoint({dr[category_id]})},"专线")%>
                        <li>
                            <a href="<%linkurl("lineselect_show",{dr[id]},"1")%>">
                                <%if({dr[img_url]}!="")%>
                                <img src="{dr[img_url]}" width="120" height="120" border="0" />
                                <%/if%>
                                <h2>{dr[companyname]}<font color="green">(点击查看详情)</font></h2>
                                <p class="intro">{dr[mainexpressline]}</p>

                            </a>
                            <p class="intro">{dr[lineselectcustomertitle1]}：<a href="tel:{dr[lineselectcustomervalue1]}">{dr[lineselectcustomervalue1]}</a></p>
                            <p class="intro">{dr[lineselectcustomertitle2]}：<a href="tel:{dr[lineselectcustomervalue2]">{dr[lineselectcustomervalue2]}</a></p>
                            <p class="intro">{dr[lineselectcustomertitle3]}：{dr[lineselectcustomervalue3]}</p>
                            <p class="intro">
                                <span><i class="iconfont icon-view"></i>浏览{dr[click]}次</span>
                                <span><i class="iconfontx icon-redo"></i>转发{dr[ForwardNum]}次</span>
                                <span><i class="iconfontx icon-pengyouquan"></i>分享{dr[sharenum]}次</span>
                            </p>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>
        <!--/资讯列表-->
        
        <!--分页页码-->
        <div class="page-list">
            {pagelist}
        </div>
        <!--/分页页码-->
    
        <!--版权信息-->
        <%template src="_copyright.html"%>
        <!--/版权信息-->

        <!--底部导航-->
        <%template src="_footer.html"%>
        <!--/底部导航-->
    </div>
    <!--/页面内容-->
</div>

<!--类别容器-->
<div id="category-box" class="dialog-wrap">
    <div class="dialog-box">
        <div class="header">
            <a class="back" href="javascript:;" onclick="closeDialogBox('#category-box');">
                <i class="iconfont icon-arrow-left"></i>
            </a>
            <h3>专线查询</h3>
        </div>
        <ul class="navbar">
            <li>
                <div>
                    <select class="weui-select" name="select2">
                        <option value="">目的地区域选择</option>
                        <option value="1">上海</option>
                        <option value="2">昆山</option>
                    </select>
                    <select class="weui-select" name="select2">
                        <option value="0">目的地区域选择</option>
                        <option value="1">上海</option>
                        <option value="2">昆山</option>
                    </select>
                </div>
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="请输入公司名称、到达城市" required />
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                </div>
            </li>
            <li>
                <h3><a href="<%linkurl("lineselect")%>">全部</a></h3> 
            </li>
            <%set DataTable categoryList1=get_category_child_list(channel, 0)%>
            <%foreach(DataRow cdr1 in categoryList1.Rows)%>
            <li>
                <h3><a href="<%linkurl("lineselect",{cdr1[id]})%>">{cdr1[title]}</a></h3> 
                <p>
                <%set DataTable categoryList2=get_category_child_list(channel, {strtoint({cdr1[id]})})%>
                <%foreach(DataRow cdr2 in categoryList2.Rows)%>
                    <a href="<%linkurl("lineselect",{cdr2[id]})%>">{cdr2[title]}</a>
                <%/foreach%>
                </p>
            </li>
            <%/foreach%>
        </ul>
    </div>
   
</div>
     <div>
        <select id="txtProvince" name="txtProvince" class="select"></select>
        <select id="txtCity" name="txtCity" class="select"></select>
        <select id="txtArea" name="txtArea" class="select"></select>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#starAddress').on('focus', function () {
                weui.picker([{
                    label: '上海',
                    value: '上海'
                },{
                    label: '昆山',
                    value: '昆山'
                }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            console.log(result);
                        }
                    });
            });
            //初始化地区
            var mypcas = new PCAS("txtProvince,所属省份", "txtCity,所属城市", "txtArea,所属地区");
            
            $('#endAddress').on('focus', function () {
                weui.picker([{
                    label: '上海',
                    value: '上海'
                }, {
                    label: '昆山',
                    value: '昆山'
                }], {
                        onChange: function (result) {
                            console.log(result);
                        },
                        onConfirm: function (result) {
                            console.log(result);
                        }
                    });
            });
        var $searchBar = $('#searchBar'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        
        function cancelSearch(){
            //hideSearchResult();
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch();
            })
            .on('input', function(){
                if(this.value.length) {
                    //$searchResult.show();
                } else {
                   // $searchResult.hide();
                }
            })
        ;
        $searchClear.on('click', function(){
            //hideSearchResult();
            $searchInput.focus();
        });
        $searchCancel.on('click', function(){
            cancelSearch();
            $searchInput.blur();
        });
    });
</script>

<!--类别容器-->

</body>
</html>
