<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>我的货源 - {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
<script type="text/javascript">
    function ExecPostBack(checkValue,ty) {
        if (ty == "del") {
            ExecDeletehy('{config.webpath}tools/submit_ajax.ashx?action=user_goodsopportunity_delete', checkValue, '/user/goodsopportunitys-list.html');
        }
        if (ty == "update") {
            ExecUpdateHYStatus('{config.webpath}tools/submit_ajax.ashx?action=user_goodsopportunity_status', checkValue, '/user/goodsopportunitys-list.html');
        }
    }
</script>
</head>

<body ontouchstart>
<div class="page">
    <!--页面头部-->
    <div class="header">
        <a class="back" href="javascript:history.back();">
            <i class="iconfont icon-arrow-left"></i>
        </a>
        <h3>我的货源</h3>
        <div class="right">
            <a class="weui-cell_access weui-cell_link"  href="<%linkurl("usergoodsopportunity_edit","add")%>">
                <i class="iconfont icon-edit"></i>
            </a>
            <a class="weui-cell_access weui-cell_link" href="<%linkurl("usercenter","index")%>">
                <i class="iconfont icon-user"></i>
            </a>
        </div>
    </div>
    <!--/页面头部-->
    
    <div class="page__bd">
        <div class="weui-panel weui-panel_access" style="margin-top:10px;">
            <div class="weui-panel__hd">如果已成交的请设置为“已交易”</div>
            <div class="weui-panel__bd">
                <div class="detail-list">
                    <ul>
                        <!--取得一个分页DataTable-->
                        <%set DataTable newsList=get_article_list("goodsopportunity",0,pagesize, page, "user_name='"+userModel.user_name+"'", out totalcount, out pagelist, "usergoodsopportunitys", 0, "__id__")%>
                        <%foreach(DataRow dr in newsList.Rows)%>
                        <li>
                            <div class="detail-bd">
                                <div class="list-box">
                                    <div class="txt-box">
                                        <h2>{dr[title]}</h2>
                                        <%set string senddate={dr[sendDate]}%>
                                        <%if({dr[status]}=="3")%>
                                        <i class="datetip">已交易</i>
                                        
                                        <%/if%>
                                        <p class="note">{dr[ExpressLine]}</p>
                                        <p class="note">重量：{dr[GoodsWeight]}&nbsp;&nbsp; 体积：{dr[GoodsVolume]}立方</p>
                                        <p class="note">期望运费：<em class="price">{dr[ExpectMoney]}元</em></p>
                                        <p class="note">电话：{dr[telphone]}</p>
                                        <p class="note">手机：{dr[mobile]}</p>
                                        <p class="note">联系人：{dr[contact]}</p>
                                        <p class="note">发货时间：<%datetostr({dr[sendDate]},yyyy年MM月dd日)%></p>
                                        <p class="note"><i class="iconfont icon-date"></i><%datetostr({dr[add_time]},yyyy年MM月dd日HH:MM)%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-ft">
                                <div class="ft-btn">
                                    <div class="btn-box">
                                        <a href="javascript:;" onclick="ExecPostBack('{dr[id]}','update');">
                                            <%if({dr[status]}=="3")%>
                                            已交易
                                            <%else%>
                                            未交易
                                            <%/if%>
                                        </a>
                                        <a href="<%linkurl("goodsopportunity_show",{dr[id]},"1")%>">查看</a>
                                        <a href="<%linkurl("usergoodsopportunity_edit","edit",{dr[id]})%>">
                                            <i class="iconfont icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:;" onclick="ExecPostBack('{dr[id]}','del');">
                                            <i class="iconfont icon-delete"></i>
                                            删除
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
        </div>
        <!--分页页码-->
        <div class="page-list">
            {pagelist}
        </div>
        <!--/分页页码-->
        
    </div>
    
    <!--版权信息-->
    <%template src="_copyright.html"%>
    <!--/版权信息-->

    <!--底部导航-->
    <%template src="_footer.html"%>
    <!--/底部导航-->

</div>
</body>
</html>
