<!DOCTYPE html>
<!--HTML5 doctype-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>我的货源 - {site.name}</title>
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/validate.css" />
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/zepto.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/weui.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/PCASClass.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/mvalidate.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/mvalidate-extend.js"></script>
    <script type="text/javascript">
             
        
    </script>
</head>

<body ontouchstart>
    <div class="page">
        <!--页面头部-->
        <div class="header">
            <a class="back" href="javascript:history.back();">
                <i class="iconfont icon-arrow-left"></i>
            </a>
            <h3>编辑货源</h3>
            <div class="right">
                <a class="weui-cell_access weui-cell_link" href="<%linkurl("usercenter","index")%>">
                    <i class="iconfont icon-user"></i>
                </a>
            </div>
        </div>
        <!--/页面头部-->
        <!--页面内容-->
        <div class="page__bd">
            <%if(action=="edit")%>
            <!--编辑地址-->
            <script type="text/javascript">
                $(function () {
                    //初始化表单
                    AjaxInitForm('#editForm', '#btnSubmit', 1, '#turl');
                    //初始化分类
                    initSelect_article_category("txtCategoryId", 7, 0);
                    $("#txtsendDate").on('focus', function (event) {
                        var _this = this;
                        weui.datePicker({
                            start: 2018,
                            end: 2050,
                            defaultValue: [new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()],
                            onChange: function (result) {

                                var date = result[0] + '-' + result[1] + '-' + result[2];
                                $(_this).val(date);
                            },
                            onConfirm: function (result) {
                                //// 二级调用：时间
                                //$('.ma_expect_date_picker .weui-picker').on('animationend webkitAnimationEnd', function () {
                                    //show_expect_time_picker(_this, result);
                                //});
                                var date = result[0] + '-' + result[1] + '-' + result[2];
                                $(_this).val(date);

                            },
                            id: 'datePicker',
                            className: 'ma_expect_date_picker'
                        });
                    });
                });
            </script>
            <form id="editForm" name="editForm" class="form-box" url="{config.webpath}tools/submit_ajax.ashx?action=user_goodsopportunity_edit&id={model.id}&site_id={model.site_id}">
                <div class="weui-panel weui-panel_access" style="margin-top:10px;">
                    <div class="weui-panel__hd">编辑货源</div>
                    <div class="weui-panel__bd">
                        <div class="weui-cells_form form-box">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货源名称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtTitle" name="txtTitle" class="weui-input" type="text" value="{model.title}" placeholder="货源名称" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">所属分类</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <select id="txtCategoryId" name="txtCategoryId" class="select" data-validate="select" data-content="{model.category_id}"></select>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">运输路线</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtExpressLine" name="txtExpressLine" class="weui-input" type="text" value="{model.fields[ExpressLine]}" placeholder="从哪儿到哪儿" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货物重量</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtGoodsWeight" name="txtGoodsWeight" class="weui-input" type="text" value="{model.fields[GoodsWeight]}" placeholder="货物重量" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货物体积</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtGoodsVolume" name="txtGoodsVolume" class="weui-input" type="text" value="{model.fields[GoodsVolume]}" placeholder="货物体积" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">期望运费</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtExpressLine" name="txtExpectMoney" class="weui-input" type="text" value="{model.fields[ExpectMoney]}" placeholder="期望运费" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">发货时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtsendDate" name="txtsendDate" class="weui-input" type="text" readonly value="<%datetostr({model.fields[sendDate]},yyyy-MM-dd HH:mm:ss)%>" placeholder="发货时间" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">联系人</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtcontact" name="txtcontact" class="weui-input" type="text" value="{model.fields[contact]}" placeholder="联系人" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">公司名称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtcompanyname" name="txtcompanyname" class="weui-input" type="text" value="{model.fields[companyname]}" placeholder="公司名称" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">详细地址</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtAddress" name="txtAddress" class="weui-input" type="text" value="{model.fields[address]}" placeholder="详细地址" data-validate="s" />
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">手机号</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtMobile" name="txtMobile" class="weui-input" type="tel" value="{model.fields[mobile]}" placeholder="请输入手机号" data-validate="m" />
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">电话</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtTelphone" name="txtTelphone" class="weui-input" type="text" value="{model.fields[telphone]}" placeholder="电话号码，非必填" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">详细描述</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <textarea id="txtcontent" name="txtcontent" rows="3" class="weui-textarea" placeholder="详细描述">{model.content}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="weui-btn-area">
                    <input id="btnSubmit" name="btnSubmit" type="submit" class="weui-btn weui-btn_primary" value="确认提交" />
                </div>
            </form>
            <!--/编辑货源-->
            <%else%>
            <!--新增货源-->
            <script type="text/javascript">
                $(function () {
                    //初始化表单
                    AjaxInitForm('#editForm', '#btnAddSubmit', 1, '#turl');
                    //初始化分类
                    initSelect_article_category("txtCategoryId", 7, 0);
                    //设置表单中的初始时间，比当前时间多两小时
                    var now = new Date();
                    now.setHours(now.getHours() + 2);
                    var str = now.getFullYear() + "-" + fix((now.getMonth() + 1), 2) + "-" + fix(now.getDate(), 2) + " " + fix(now.getHours(), 2) + ":" + fix(now.getMinutes(), 2) + ":00";
                    $("#txtsendDate").val(str);
                    $("#txtsendDate").on('focus', function (event) {
                        var _this = this;
                        weui.datePicker({
                            start: 2018,
                            end: 2050,
                            defaultValue: [new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()],
                            onChange: function (result) {
                            },
                            onConfirm: function (result) {
                                // 二级调用：时间
                                $('.ma_expect_date_picker .weui-picker').on('animationend webkitAnimationEnd', function () {
                                    show_expect_time_picker(_this, result);
                                });

                            },
                            id: 'datePicker',
                            className: 'ma_expect_date_picker'
                        });
                    });
                });
            </script>
            <form id="editForm" name="editForm" class="form-box" url="{config.webpath}tools/submit_ajax.ashx?action=user_goodsopportunity_edit&id={model.id}&site_id={model.site_id}">
                <div class="weui-panel weui-panel_access" style="margin-top:10px;">
                    <div class="weui-panel__hd">新增货源</div>
                    <div class="weui-panel__bd">
                        <div class="weui-cells_form form-box">
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货源名称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtTitle" name="txtTitle" class="weui-input" type="text" placeholder="货源名称" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">所属分类</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <select id="txtCategoryId" name="txtCategoryId" class="select" data-validate="select"></select>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">运输路线</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtExpressLine" name="txtExpressLine" class="weui-input" type="text" placeholder="从哪儿运往哪儿" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货物重量</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtGoodsWeight" name="txtGoodsWeight" class="weui-input" type="text" placeholder="请填写货物重量，单位吨" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">货物体积</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtGoodsVolume" name="txtGoodsVolume" class="weui-input" type="text" placeholder="请填写体积,单位方" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">期望运费</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtExpressLine" name="txtExpectMoney" class="weui-input" type="text" placeholder="请填写期望运费,单位元" data-validate="s" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">发货时间</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="text" id="txtsendDate" readonly name="txtsendDate" data- placeholder="请选择发货时间" />

                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">联系人</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtcontact" name="txtcontact" class="weui-input" type="text" value="{userModel.nick_name}" placeholder="联系人" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">公司名称</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtcompanyname" name="txtcompanyname" class="weui-input" type="text" value="{userModel.companyName}" placeholder="公司名称" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">详细地址</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtAddress" name="txtAddress" class="weui-input" type="text" value="{userModel.address}" placeholder="详细地址" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">手机号</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtMobile" name="txtMobile" class="weui-input" type="tel" value="{userModel.mobile}" placeholder="请输入手机号" data-validate="m" />
                                </div>
                            </div>

                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">电话</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtTelphone" name="txtTelphone" class="weui-input" type="text" value="{userModel.telphone}" placeholder="电话号码，非必填" />
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">详细描述</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <textarea id="txtcontent" name="txtcontent" rows="3" class="weui-textarea" placeholder="详细描述"></textarea>
                                </div>
                            </div>
                            <div class="weui-cell">
                                <div class="weui-cell__hd">
                                    <label class="weui-label">验证码</label>
                                </div>
                                <div class="weui-cell__bd">
                                    <input id="txtCode" name="txtCode" class="weui-input" type="text" placeholder="请输入验证码" data-validate="code" />
                                </div>
                                <div class="weui-cell__ft">
                                    <a href="javascript:;" onclick="ToggleCode(this, '{config.webpath}tools/verify_code.ashx');return false;">
                                        <img class="weui-vcode-img" src="{config.webpath}tools/verify_code.ashx" style="width:82px;height:24px;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weui-btn-area">
                    <input id="btnAddSubmit" name="btnAddSubmit" type="submit" class="weui-btn weui-btn_primary" value="确认提交" />
                </div>
            </form>
            <!--/新增货源-->
            <%/if%>
            <input id="turl" type="hidden" value="<%linkurl("usergoodsopportunitys","list")%>"/><!--存在跳转的URL值-->
            <!--版权信息-->
            <%template src="_copyright.html"%>
            <!--/版权信息-->
            <!--底部导航-->
            <%template src="_footer.html"%>
            <!--/底部导航-->
        </div>
        <!--/页面内容-->
    </div>
</body>
</html>