<div class="ecofootbg">
    <div class="met-footnav-eco">
        <div class="container">
            <div class="row mob-masonry">
                <div class="col-md-2 col-sm-4 col-xs-6 list ecoinfo text-left masonry-item">
                    <h4>关于延轩</h4>
                    <ul>
                        <%loop ftabdr aboutList%>
                        <li><a href="<%linkurl("content",{ftabdr[call_index]})%>" target='_self' title="{ftabdr[title]}">{ftabdr[title]}</a></li>
                        <%/loop%>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 list ecoinfo text-left masonry-item">
                    <h4>模具产品</h4>
                    <ul>
                        <%loop ftgdcadr gdcaList%>
                        <li><a href="<%linkurl("content",{ftgdcadr[call_index]})%>" target='_self' title="{ftgdcadr[title]}">{ftgdcadr[title]}</a></li>
                        <%/loop%>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 list ecoinfo text-left masonry-item">
                    <h4>新闻资讯</h4>
                    <ul>
                        <%foreach(DataRow fcdr in newscategoryList.Rows)%>
                        <li><a href="<%linkurl("news_list",{fcdr[id]})%>" target='_self'  title="{fcdr[title]}">{fcdr[title]}</a></li>
                        <%/foreach%>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 list ecoinfo text-left masonry-item">
                    <h4>其他</h4>
                    <ul>
                        <li><a href="<%linkurl("case")%>" target='_self' title="客户案例">客户案例</a></li>
                        <li><a href="<%linkurl("jobs")%>" target='_self' title="加入我们">加入我们</a></li>
                        <li><a href="<%linkurl("down")%>" target='_self' title="资料下载">资料下载</a></li>
                        <li><a href="<%linkurl("feedback")%>" target='_self' title="留言反馈">留言反馈</a></li>
                    </ul>
                </div>

                
                <div class="col-md-3 col-sm-4 col-xs-12 list  text-left masonry-item">
                    <h4>联系我们</h4>
                    <ul class="contact-info">
                        <li><i class="icon fa-map-marker"></i>{site.address}</li>
                        <li><i class="icon fa-phone"></i><a href="tel:{site.tel}" title="+86-532-89691929">{site.tel}</a></li>
                        <li><i class="icon fa-envelope-o"></i>{site.email}</li>
                        <li><i class="icon fa-globe"></i>{site.domain}</li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=85828165&site=qq&menu=yes" rel="nofollow" target="_blank" class="hvr-radial-out">
                                <i class="fa fa-qq"></i>
                            </a>
                        </li>
                        <li><a href="https://twitter.com/unitedchemco" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/+QducCn" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-google-plus"></i></a></li>
                        <li><a href="https://www.facebook.com/UnitedChemCo/" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-facebook-official"></i></a></li>
                        <li><a href="mailto:info@qduc.com.cn" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-envelope"></i></a></li>
                        <li>
                            <a id="met-weixin" data-target="webuiPopover0"><i class="fa fa-weixin"></i></a>
                            <div id="met-weixin-content" class="hide">
                                <div class="text-center met-weixin-img"><img src="<%templateskin%>/images/wechatcode.jpg" /></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="met-links text-center">
        <div class="container">
            <ol class="breadcrumb">
                <li>友情链接 :</li>
                <%set DataTable linkList=new DTcms.Web.Plugin.Link.link().get_link_list(0, "")%>
                <%foreach(DataRow dr in linkList.Rows)%>
                <li><a href="{dr[site_url]}" title="{dr[title]}" target="_blank">{dr[title]}</a></li>
                <%/foreach%>
                <li><a href="<%linkurl("link")%>" target="_blank">更多</a></li>
            </ol>
        </div>
    </div>
    <footer>
        <div class="container text-center">
            <p>{site.company}© 2016-{DTKeys.ASSEMBLY_YEAR}版权所有,未经授权,禁止使用. </p>
            <p>地址：{site.address} </p>
            <p>电话：{site.tel} 传真: {site.fax}</p>
            <p>Email: {site.email}</p>
            <p>{site.copyright}</p>
            <p><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"><span style="font-family: 宋体;">备案号: {site.crod}</span></a>
                {config.webcountcode}</p>
            <div class="powered_by_metinfo">Powered by YuebonInfo 3.0</div>
            <div class="met-langlist margin-top-10">
                <button type="button" class="btn btn-outline btn-default btn-squared" data-toggle="modal" data-target="#met-langlist-modal">
                    <span class="flag-icon flag-icon-cn"></span>
                    简体中文
                </button>
                <div class="modal fade modal-3d-flip-vertical" id="met-langlist-modal" aria-hidden="true" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-center modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-20">
                                        <a href="http://en.yanxuan-mould.com" class="btn btn-block btn-outline btn-default btn-squared text-nowrap" title="English">
                                            <span class="flag-icon flag-icon-gb pull-left"></span>
                                            English
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-20">
                                        <a href="http://www.yanxuan-mould.com/" class="btn btn-block btn-outline btn-default btn-squared text-nowrap" title="简体中文">
                                            <span class="flag-icon flag-icon-cn pull-left"></span>
                                            简体中文
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade modal-3d-flip-vertical" id="site-navbar-search" aria-hidden="true" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-center modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="search">
                            <form role="search">
                                <div class="form-group">
                                    <div class="input-search">
                                        <input id="keywords" class="form-control" name="keywords" onkeydown="if(event.keyCode==13){SiteSearch('<%linkurl("search")%>', '#keywords');return false};" placeholder="输入关健字" type="text">
                                        <button type="button" onclick="SiteSearch('<%linkurl("search")%>', '#keywords');" class="input-search-btn"><i class="icon fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide"><i class="icon wb-chevron-up" aria-hidden="true"></i></button>
