<!--[if lte IE 8]>
    <div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
    <p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
    </div>
<![endif]-->

<nav id="mobileNav" style="display:none;">
    <ul>
        <li class="active"><a href="http://yanxuan.ts.yuebon.com/" title="网站首页">网站首页</a></li>
        <li>
            <span>关于我们</span>
            <ul>
                <li class=""><a href="<%linkurl("index")%>" title="关于我们">关于我们</a></li>
                <li><a href="about/12-cn.html" title="公司简介">公司简介</a></li>
                <li><a href="about/13-cn.html" title="企业文化">企业文化</a></li>
                <li><a href="feedback/index-cn.html" title="在线反馈">在线反馈</a></li>
                <li><a href="about/9-cn.html" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li>
            <span>关于我们</span>
            <ul>
                <li class=""><a href="<%linkurl(" index")%>" title="关于我们">关于我们</a></li>
                <li><a href="about/12-cn.html" title="公司简介">公司简介</a></li>
                <li><a href="about/13-cn.html" title="企业文化">企业文化</a></li>
                <li><a href="feedback/index-cn.html" title="在线反馈">在线反馈</a></li>
                <li><a href="about/9-cn.html" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li>
            <span>关于我们</span>
            <ul>
                <li class=""><a href="<%linkurl(" index")%>" title="关于我们">关于我们</a></li>
                <li><a href="about/12-cn.html" title="公司简介">公司简介</a></li>
                <li><a href="about/13-cn.html" title="企业文化">企业文化</a></li>
                <li><a href="feedback/index-cn.html" title="在线反馈">在线反馈</a></li>
                <li><a href="about/9-cn.html" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li>
            <span>关于我们</span>
            <ul>
                <li class=""><a href="<%linkurl(" index")%>" title="关于我们">关于我们</a></li>
                <li><a href="about/12-cn.html" title="公司简介">公司简介</a></li>
                <li><a href="about/13-cn.html" title="企业文化">企业文化</a></li>
                <li><a href="feedback/index-cn.html" title="在线反馈">在线反馈</a></li>
                <li><a href="about/9-cn.html" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li>
            <span>关于我们</span>
            <ul>
                <li class=""><a href="<%linkurl(" index")%>" title="关于我们">关于我们</a></li>
                <li><a href="about/12-cn.html" title="公司简介">公司简介</a></li>
                <li><a href="about/13-cn.html" title="企业文化">企业文化</a></li>
                <li><a href="feedback/index-cn.html" title="在线反馈">在线反馈</a></li>
                <li><a href="about/9-cn.html" title="联系我们">联系我们</a></li>
            </ul>
        </li>
        <li>
            <span>简体中文</span>
            <ul>
                <li><a href="http://yanxuan.ts.yuebon.com/en" title="English">English</a></li>
                <li><a href="http://yanxuan.ts.yuebon.com/" title="简体中文">简体中文</a></li>
            </ul>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a href="<%linkurl("index")%>" class="navbar-logo vertical-align" title="{site.seo_title}">
                    <div class="vertical-align-middle"><img src="{site.logo}" alt="{site.seo_title}" title="{site.seo_title}" /></div>
                </a>
            </div>
            <div class="pull-right econav">
                <ul>
                    <li>
                        <button type="button" data-target="#site-navbar-search"
                                data-toggle="modal">
                            <span class="sr-only">Toggle Search</span>
                            <i class="icon fa-search"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" data-target="#met-langlist-modal" data-toggle="modal">
                            <span class="sr-only">Toggle Search</span>
                            <span class="icon fa-globe"></span>
                        </button>
                    </li>
                    <button class="mobileMenuBtn" type="button"><span class="icon fa-bars"></span></button>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">
                <ul class="nav navbar-nav navbar-right navlist">
                    <li><a href="<%linkurl("index")%>" title="网站首页" class="link active">网站首页</a></li>
                    <li class="dropdown margin-left-0 ecodropdown">
                        <a class="dropdown-toggle link "
                            data-toggle="dropdown"
                            href="<%linkurl("content","about")%>"
                            aria-expanded="false"
                            role="button"
                            title="关于我们">关于我们<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <li class="visible-xs-block"><a href="<%linkurl("content","about%>" title="">关于我们</a></li>
                            <%set DataTable aboutList=get_article_list("content", 10,"status=0")%>
                            <%loop abdr aboutList%>
                            <li><a href="<%linkurl("content",{abdr[call_index]})%>" title="{abdr[title]}">{abdr[title]}</a></li>
                            <%/loop%>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-0 ecodropdown">
                        <a class="dropdown-toggle link "
                            data-toggle="dropdown"
                            href="<%linkurl("goods")%>"
                            aria-expanded="false"
                            role="button"
                            title="产品展示">产品展示<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <li class="visible-xs-block"><a href="<%linkurl("goods")%>" title="全部">全部</a></li>
                            <%set DataTable gdcaList=get_category_list("goods", 0)%>
                            <%loop gdcadr gdcaList%>
                            <li><a href="<%linkurl("goods_list",{gdcadr[id]})%>" class="" title="{gdcadr[title]}">{gdcadr[title]}</a></li>
                            <%/loop%>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-0 ecodropdown">
                        <a class="dropdown-toggle link "
                            data-toggle="dropdown"
                            href="<%linkurl("news")%>"
                            aria-expanded="false"
                            role="button"
                            title="新闻资讯">新闻资讯<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <li class="visible-xs-block"><a href="<%linkurl("news")%>" title="全部">全部</a></li>
                            <%set DataTable newscategoryList=get_category_child_list("news",0)%>
                            <%foreach(DataRow hdcdr in newscategoryList.Rows)%>
                            <li><a href="<%linkurl("news_list",{hdcdr[id]})%>" class="" title="{hdcdr[title]}">{hdcdr[title]}</a></li>
                            <%/foreach%>
                        </ul>
                    </li>

                    <li class="margin-left-0"><a href="<%linkurl("case")%>" title="客户案例" class="link ">客户案例</a></li>
                    <li class="margin-left-0"><a href="<%linkurl("jobs")%>" title="加入我们" class="link ">加入我们</a></li>
                    <li class="margin-left-0"><a href="<%linkurl("down")%>" title="资料下载" class="link ">资料下载</a></li>
                    <li class="margin-left-0"><a href="<%linkurl("content","contact")%>" title="联系我们" class="link ">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

