<!doctype html>
<html>
<head>
<meta charset="utf-8">
<%set string category_title=get_category_title(model.category_id,"购物商城")%>
<title>{model.title} - {category_title} - {site.name}</title>
<meta name="keywords" content="{model.seo_keywords}" />
<meta name="description" content="{model.seo_description}" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap-extend.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/site.min.css" />
    <link href="{config.webpath}css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{config.webpath}css/flagicon/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/swiper/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/owlcarousel2-2.2.1/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/lightGallery/css/lightgallery.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/breakpoints.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/lightGallery/js/lightgallery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/owlcarousel2-2.2.1/owlcarousel2-2.2.1.js"></script>

    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
<script type="text/javascript">

</script>
</head>

<body id="goods" class="met-navfixed">
<!--页面头部-->
<%template src="_header.html"%>
<!--/页面头部-->

<!--当前位置-->
<%set string category_nav=get_category_menu("goods_list", model.category_id)%>
<div class="met-position  pattern-show">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="<%linkurl("index")%>" title="首页">
                        <i class="icon fa-home" aria-hidden="true"></i>首页
                    </a>
                </li>
                <li class="dropdown">
                    <a href="<%linkurl("goods")%>"
                        title="产品展示"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false">产品展示<i class="caret"></i></a>
                    <ul class="dropdown-menu bullet">
                        <li><a href="<%linkurl("goods")%>" title="全部">全部</a></li>
                        <%set DataTable categoryList=get_category_child_list(channel,0)%>
                        <%foreach(DataRow cdr in categoryList.Rows)%>
                        <li><a href="<%linkurl("goods_list",{cdr[id]})%>" title="{cdr[title]}">{cdr[title]}</a></li>
                        <%/foreach%>
                    </ul>
                </li>
                <li class="dropdown">
                    {category_nav}
                </li>
            </ol>
        </div>
    </div>
</div>
<!--/当前位置-->
<div class="page met-showproduct pagetype1 animsition">
    <div class="met-showproduct-head">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-7">
				    <div id="gallery" class="ad-gallery" data-x="400" data-y="300"> 
					    <div class="ad-image-wrapper"></div> 
					    <div class="ad-controls"></div> 
					    <div class="ad-nav"> 
						    <div class="ad-thumbs"> 
							    <ul class="ad-thumb-list" id="lightgallery"> 
                                    <%if(model.albums!=null)%>
                                    <%foreach(DTcms.Model.article_albums modelt in model.albums)%>
								    <li data-src="{modelt.original_path}" data-exthumbimage="{modelt.thumb_path}">
										<img src="{modelt.thumb_path}" class="img-responsive" alt="{model.title}" />
								    </li>
                                    <%/foreach%>
                                    <%/if%>
							    </ul> 
						    </div> 
					    </div> 
				    </div>
			    </div>
			    <div class="visible-xs-block visible-sm-block height-20"></div>
			    <div class="col-md-5 product-intro">
				    <h1>{model.title}</h1>
				    <p class="description">{model.zhaiyao}</p>
				    
				    <div class="tools">
                        <!--分享-->
                        <%template src="_share_js.html"%>
                        <!--/分享-->
                    </div>
			    </div>
		    </div>
	    </div>
    </div>
    <div class="met-showproduct-body">
		<div class="container">
			<div class="row no-space">
				<div class="col-md-9 product-content-body">
					<div class="row">
					<div class="panel product-detail">
						<div class="panel-body">
							<ul class="nav nav-tabs nav-tabs-line met-showproduct-navtabs affix-nav">
								<li class="active"><a data-toggle="tab" href="#product-details" data-get="product-details">商品介绍</a></li>
								<li><a data-toggle="tab" href="#product-content1" data-get="product-content1">商品评论</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane met-editor lazyload clearfix animation-fade active" id="product-details">
									<div>{model.content}</div>
								</div>
                                <div class="tab-pane met-editor lazyload clearfix animation-fade active" id="product-content1">
                                    <!--网友评论-->
                                    <%if(model.is_msg==1)%>
                                    <div class="comment-box">
                                        <%template src="_comment_box.html"%>
                                    </div>
                                    <%/if%>
                                    <!--/网友评论-->
                                </div>
							</div>
						</div>
					</div>

					</div>
				</div>

				<!--右侧开始-->
				<div class="col-md-3">
				<div class="row">
					<div class="panel product-hot">
						<div class="panel-body">
						<h4 class="example-title">热门推荐</h4>
							<div class="row">
                                <%set DataTable redGoods=get_article_list(channel, model.category_id, 4, "status=0 and is_red=1")%>
                                <%foreach(DataRow dr in redGoods.Rows)%>
								<div class="product-hot-list col-md-12 col-sm-4 col-xs-4 text-center margin-bottom-10">
									<a href="<%linkurl("goods_show",{dr[id]})%>" target="_blank" class="img" title="{dr[title]}">
										<img data-original="{dr[img_url]}" src="{dr[img_url]}" class="img-responsive"  alt="{dr[title]}">
									</a>
									<a href="<%linkurl("goods_show",{dr[id]})%>" target="_blank" class="txt" title="{dr[title]}">{dr[title]}</a>
								</div>
                                <%/foreach%>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!--右侧结束-->

			</div>
		</div>
	</div>
</div>
<!--页面底部-->
<%template src="_footer.html"%>
<!--/页面底部-->
</body>
</html>