<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>消毒方法,测试实验,高效消毒剂,消毒服务</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />  
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/big5.js"></script>
<script type="text/javascript" src="js/jq_common.js"></script>
<script type="text/javascript" src="js/jquery.superslide.2.1.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.leanmodal.min.js"></script>
</head>
<body>
<div id="header">
	<div class="header">
    	<div class="h_top">
        <div>
           <span>您好，欢迎您来到某某生物有限公司！</span>
           <a href="#" class="jrsc">加入收藏</a>
           <a href="#" class="swsy">设为首页 &nbsp;&nbsp;&nbsp;|</a> 
         </div>
        </div>     
     <div class="log">
        <div><a><img src="images/logo1.jpg" class="lo"/></a>
         <a class="phone"><img src="images/call11.png" width="55" height="52" /></a>
         <span class="phone1">咨询热线：0311-32039483</span>
       </div>
      </div>
        <ul class="h_nav1 l nav">
		<li><a href="#" style="">工业合作</a>
		    <div class="sub">
				<a href="#">合作案例</a><a href="#">合作品牌</a><a href="#">权威报告</a>            
            </div>
		</li>
        <li><a href="#" style="">消毒服务</a>
         <div class="sub">
			<a href="#">行业案例</a><a href="#">合作客户</a>            
         </div>
		</li>
         <li ><a href="product.htm">个人& 家庭消毒</a>
          <div class="sub">
            <a href="#">主营项目</a>
            <a href="#">核心技术视频</a>
            <a href="#">5大优势</a>
            <a href="#">专家建议</a>
            <a href="#">经销网络</a>
           </div>
         </li>
        </ul>
        <ul class="h_nav2 r nav">
        <li><a href="#">首页</a></li>
        <li><a href="#">关于我们</a>
        	<div class="sub" style="width:175px">
				<a href="#">简介</a>
                <a href="#">理念</a>
                <a href="#">发展史</a>
                <a href="#">大中华区总代理</a>
                <a href="#">认证</a>
                <a href="#">合作品牌</a>
                <a href="#">合作媒体</a>            
            </div>
		</li>
        <li><a href="#">技术支持</a>
        	<div class="sub">
				<a href="#">长效原理</a>
                <a href="#">5大优势</a>
                <a href="#">技术对比</a>
                <a href="#">高效消毒</a>
                <a href="#">直观测试</a>
                <a href="#">权威报告</a>            
             </div>
        </li>
        <li><a href="news.htm" >媒体中心</a>
        	<div class="sub">
				<a href="#">官方新闻</a>
                <a href="#">媒体报道</a>
                <a href="#">专家建议</a>
                <a href="#">活动专题</a>            
            </div>
		</li>
        <li><a href="#">相关下载</a>
        	<div class="sub">
				<a href="#">产品资料</a>
                <a href="#">宣传物料</a>
                <a href="#">产品教程</a>
                <a href="#">报告下载</a>            
            </div>
		</li>
        <li class="last">
          <a href="#" >联系我们</a>
        	<div class="sub">
             <a href="#">联系方式</a>
             <a href="#">经销网络</a>
             <a href="#">服务网络</a>
             <a href="#">加盟政策</a>
             <a href="#">人才招聘</a>
             <a href="#">问与答</a>
             <a href="#">意见反馈</a>
            </div>
		</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$("#weiixn").hover(function(){$("#weipic").show()},function(){$("#weipic").hide()})
	
	$(".keyvalue").click(function(){
		var curtext = $(this).text();
		$("#curkeyword").val(curtext);
	})
	
})
</script>

<script type="text/javascript" src="js/swfobject.js"></script>

<div id="main">
	<div id="slideBox" class="slideBox">
        <div class="hd">			
            <ul style="width: 220px;">
				<li><i>1</i></li>
                <li><i>2</i></li>
                <li><i>3</i></li>
                <li class="last"><i>4</i></li>			
            </ul>			
        </div>
        <div class="bd">
            <ul>
				<li>
                 <a href="#" style="background:url(images/banner1.jpg) no-repeat; background-size:cover;" class="gd">
                 </a>
                </li>
                <li>
                 <a href="#" style="background:url(images/banner2.jpg) no-repeat; background-size:cover;" class="gd">
                 </a>
                </li>
                <li>
                 <a href="#" style="background:url(images/banner3.jpg) no-repeat; background-size:cover;" class="gd">
                 </a>
                </li>
                <li>
                 <a href="#" style="background:url(images/banner1.jpg) no-repeat; background-size:cover;" class="gd">
                 </a>
                </li>            
            </ul>
		 <div style="background:url(images/gddt_bottom.png) no-repeat top center transparent;height:30px;z-index:1;"></div>
        </div>
        <a class="prev arr_left" href="javascript:void(0)"></a>
        <a class="next arr_right" href="javascript:void(0)"></a>
    </div>
    <script type="text/javascript">
	$(function(){
		$(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
		var len = $(".slidebox%20.hd").find("li").length;
		var width = $(".slidebox%20.hd").find("li").innerWidth();
		var w = len*width
		$(".slidebox%20.hd").find("ul").width(w);
	});
    </script>

    <div class="m_bg2">
    <div class="main">
    	<dl class="m_box">
        <dt>APPLICATIONS   产品应用</dt>
        <dd>为了您家人健康，我们将做得更细更到位，给您和家人一个更好的生活环境</dd>
        </dl>

        <div class="m_list3" style="padding-left:0px;">
        	<div class="dw">
              <img src="images/cpyy1.jpg" width="220" height="220">
             <div class="tit">
              <a href="#">工业</a>
             </div>
            </div>
            <div class="p1">工业合作</div>
            <div class="p2">与其他公司技术合作，纺织业、鞋业、食品业等进行深度合作，还可共同开发新品。</div>
            <div><img src="images/zn_pic30.jpg"></div>
            <a class="btn" href="#"></a>
        </div>
        <div class="m_list3" style="padding-left:0px;">
        	<div class="dw">
              <img src="images/cpyy2.jpg" width="220" height="220">
             <div class="tit">
              <a href="#">消毒</a>
             </div>
            </div>
            <div class="p1">消毒服务</div>
            <div class="p2">消毒服务由表面消毒、手部消毒、AAA抗菌抹布\毛巾三大系统组成，力求全面保障您的健康</div>
            <div><img src="images/zn_pic30.jpg"></div>
            <a class="btn" href="#"></a>
        </div>
        <div class="m_list3" style="padding-right:0;">
        	<div class="dw">
              <img src="images/cpyy3.jpg" width="220" height="220">
              <a href="#"><div class="tit">个人</a></div>
            </div>
            <div class="p1">个人&家庭消毒</div>
            <div class="p2">消费级产品，拥有家居消毒、肌肤消毒、抗菌纺织品3大系列，时刻保护您的健康。</div>
            <div><img src="images/zn_pic30.jpg"></div>
            <a class="btn" href="#"></a>
        </div>
        <div class="clear"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
    </div>
    </div>
    
    <div class="main" style="background-color:#F6F6F6; width:100%; min-width:1080px;">
    	<dl class="m_box">
        <dt>ADVANTAGE  公司简介</dt>
        <dd class="mindd">
          <div>
           <div class="L gs">
             <img src="images/zn_pic83.jpg" width="360" height="250" />
           </div>
           <div class="xw">&nbsp;广东某某公司质量管理方面已与国际质量管理模式接轨，在国内率先完成ISO13485：2003体系的国际认证。已连续十五年被评为高新技术企业，是中华预防医学会消毒分会生物消毒学组及生物消毒剂研究中心所在地。生物有限公司成立伊始就制定了明确的自主创新发展战略，瞄准国内外生物类抗感染（特别是抗耐药菌感染）领域的研究热点，率先在国际上成功解决了大肠杆菌外分泌表达“溶葡萄球菌酶”，由此攻克了“溶葡萄球菌酶”药物开发的最大障碍，并申请国际发明专利。通过深入的研究和不懈努力，获得了国内第一个生物消毒剂批件、第一个生物医疗器械证书、第一个一类新生物兽药证书…同时申请国内外发明专利54项并有26项获得授权，其中包括2项国际PCT专利及1项日本专利，有关溶葡萄球菌酶的产品和技术专利申请数占国内外相关专利的50%以上，占据了全球“溶葡萄球菌酶”相关专利的半壁江山，并形成了具有一定深度和广度的专利网络。在生物杀菌领域，尤其是“溶葡萄球菌酶”的科研开发及产业化方面，处于世界领先水平，也填补了一个又一个的国内空白……</div>  
          <a href="#" class="xwxq">公司详情>></a>
          </dd>       
         </div>
       </dl>
    </div>
    <div class="m_bg1">
    <div class="main">
    	<dl class="m_box">
        <dt>INFORMATION   相关信息</dt>
        <dd><span>长效的消毒是为了您和家人的身体健康，为了您的健康而生</span><br /></dd>
        </dl>
        <div id="nTab" class="nTab">
            <ul class="tit">
            <li class="hover">技术</li>
            <li>专家建议</li>
            <li>媒体新闻</li>
            <li>活动专区</li>
            </ul>
            <ul class="con">
			
            <li class="none">
            	<dl class="m_box1"  style="width:1080px;">
                <dt style="">
					<div>
					<a id="various1" href="#inline1"><img src="images/0.jpg" width="340" height="300" /></a>
					</div>					 
				</dt>
                <dd>
					<div class="list">
						<div class="date" style="background:none;">
                           <a href="#"><img src="images/xgxx1.png" width='70' height="70" /></a>                            </div>
							<div class="con">
                               <span class="c1"></span>
                               <div class="c2">
                                 <a href="#" style="line-height:25px;">消毒方法</a>
                               </div>
							 <div class="c3">
                              <a href="#">杀灭或清除传播媒介上病原微生物，使其达到无害化的处理。</a>
                             </div>
                            </div>
							  <a href="#" class="btn"></a>
							<div class="clear"></div>
						</div>
						
						<div class="list">
							<div class="date" style="background:none;">
                            <a href="#"><img src="images/xgxx2.png" width='70' height="70" /></a>
                           </div>
							<div class="con">
                              <span class="c1"></span>
                              <div class="c2"><a href="#">高效消毒剂</a></div>
							<div class="c3">
                              <a href="#">指可杀灭一切细菌繁殖体（包括分枝杆菌）、病毒、真菌及其孢子等。</a></div></div>
							<a href="#" class="btn"></a>
							<div class="clear"></div>
						</div>
						
						<div class="list">
							<div class="date" style="background:none;">
                              <a href="#">
                               <img src="images/xgxx3.png" width='70' height="70" />
                              </a>
                         </div>
					    <div class="con">
                            <span class="c1"></span>
                              <div class="c2">
                                <a href="#">测试实验</a>
                              </div>
							<div class="c3">
                              <a href="#">对细菌芽孢（致病性芽孢菌）也有一定杀灭作用，达到高水平消毒要求的制剂。</a>
                            </div>
                         </div>
							<a href="#" class="btn"></a>
							<div class="clear"></div>
						</div>

                </dd>
                <div class="clear"></div>
                </dl>
                <div class="clear"></div>
            </li>
			
            <li class="none">
            	<dl class="m_box1">
                <dt><img src="images/1.jpg" width="340" height="300"/></dt>
                <dd>
				<div class="list">
                    	<div class="date"><p class="c1">06</p><p class="c2">16</p></div>
                        <div class="con">
                         <span class="c1">2015/06/16</span>
                         <div class="c2">
                          <a href="#">疫源地消毒</a>
                         </div>
                        <div class="c3">
                          <a href="#">对存在或曾经存在传染源的场所进行的消毒。对防治、研究传染病的医疗卫生机构，可能受到污染的场所应按疫源地进行消毒。</a>
                        </div>
                       </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                </div>
                    <div class="list">
                    	<div class="date">
                          <p class="c1">05</p>
                          <p class="c2">12</p>
                        </div>
                       <div class="con">
                        <span class="c1">2015/05/12</span>
                        <div class="c2">
                          <a href="#">随时消毒</a>
                        </div>
                        <div class="c3">
                         <a href="#">有传染源存在时对其排出的病原体可能污染的环境和物品及时进行的消毒。</a>
                        </div>
                       </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div><div class="list">
                    	<div class="date">
                         <p class="c1">04</p>
                         <p class="c2">30</p>
                        </div>
                        <div class="con">
                          <span class="c1">2015/04/30</span>
                            <div class="c2"><a href="#">消灭细菌</a></div>
                        <div class="c3">
                         <a href="#">可杀灭一切微生物（包括细菌芽孢）达到灭菌保证水平的方法。属于此类的方法有：热力灭菌、电离辐射灭菌、微波灭菌、等离子体灭菌等物理灭菌方法，以及用甲醛、戊二醛、环氧乙烷、过氧乙酸、过氧化氢等消毒剂进行灭菌的方法。</a>
                        </div>
                       </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div>
                </dd>
                <div class="clear"></div>
                </dl>
                <div class="clear"></div>
			</li>
			
            <li class="none">
            	<dl class="m_box1">
                <dt><img src="images/2.jpg" width="340" height="300"></dt>
                <dd>
				
				<div class="list">
                    	<div class="date"><p class="c1">11</p><p class="c2">17</p></div>
                        <div class="con">
                          <span class="c1">2014/11/17</span>
                            <div class="c2">
                              <a href="#" style="height:25px;">人员要求 </a>
                            </div>
                        <div class="c3"><a href="#">消毒产品检测的实验室人员应该是经过实验操作技术培训的专业人员。 
实验审核人员应该具有中级职称、五年以上的消毒产品检测经历并经过专门培训。 实验室技术负责人和质量负责人应该具有高级职称，五年以上的消毒产品检测经历并经过专门培训。</a></div></div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                 </div>
                 <div class="list">
                    	<div class="date"><p class="c1">10</p><p class="c2">22</p></div>
                        <div class="con">
                          <span class="c1">2014/10/22</span>
                            <div class="c2"><a href="3">反复的消毒实验</a></div>
                        <div class="c3">
                         <a href="#">重复性试验不是只在同次试验中增加菌片数，或多作几份样本，而是应分期分批进行。必要的器材和试剂应重新制备或灭菌，以防产生系统性误差。</a>
                        </div>
                         </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div>
                    <div class="list">
                    	<div class="date"><p class="c1">10</p><p class="c2">11</p></div>
                        <div class="con">
                         <span class="c1">2014/10/11</span>
                          <div class="c2">
                           <a href="#">灭菌保证水平</a>
                          </div>
                         <div class="c3">
                          <a href="#">指灭菌处理后单位产品上存在活微生物的概率。SAL通常表示为10-n。如，设定SAL为10-6，即经灭菌处理后在一百万件物品中最多只允许有一件物品存在活微生物。</a>
                         </div>
                        </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div>
                </dd>
                <div class="clear"></div>
                </dl>
                <div class="clear"></div>
			</li>
			
            <li class="none">
            	<dl class="m_box1">
                <dt><img src="images/3.jpg" width="340" height="300"></dt>
                <dd>
				<div class="list">
                    	<div class="date">
                           <p class="c1">12</p>
                           <p class="c2">15</p>
                        </div>
                        <div class="con">
                         <span class="c1">2014/12/15</span>
                          <div class="c2"><a href="#">孩子出门在外玩耍，不要忽略细菌的威胁</a></div>
                        <div class="c3">
                         <a href="#">对于父母来说，孩子的健康是父母所关心的首要任务，要让孩子养成每天不乱吃东西，注意卫生俗话说病从口入，一定要让孩子养成良好的生活习惯。</a>
                        </div>
                       </div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div>
                    <div class="list">
                    	<div class="date"><p class="c1">11</p><p class="c2">15</p></div>
                        <div class="con">
                         <span class="c1">2014/11/15</span>
                          <div class="c2"><a href="#">儿童卫生的重要性</a></div>
                        <div class="c3"><a href="#">儿童抵抗力低，很容易就生病，而且好的会特别慢，主要是因为吃的东西跟孩子小不知道，什么都会放到嘴里，孩子的玩具一定要经常清理，防患于未然。</a></div></div>
                        <a href="#" class="btn"></a>
                        <div class="clear"></div>
                    </div>
                </dd>
                <div class="clear"></div>
                </dl>
                <div class="clear"></div>
			</li>
            </ul>
        </div>
    </div>
    </div>
    
</div> 
<style type="text/css"></style>
<script type="text/javascript" src="js/jquery.fancybox-1.3.4.js"></script>
		<div style="display: none;">
			<div id="inline1" style="">
 					<div id="player1">
					<center>
						<embed type="application/x-shockwave-flash" src="video.swf" width="500" height="280" style="undefined" id="single" name="single" quality="high" allowfullscreen="true" flashvars="file=uploads/files/abbb_20141023040156.flv&amp;image=uploads/article/original_img/1414427365.jpg&amp;width=500&amp;height=280">
					</center>
			   </div>
			</div>
		</div>
﻿<div id="footer">
	<div class="footer">
    	<ul class="f_nav">
        <li><a href="#">工业合作</a>
        	<div class="sub">
			  <a href="#">合作案例</a>
              <a href="#">合作品牌</a>
              <a href="#">权威报告</a>            
            </div>
        </li>
        <li>
          <a href="#">消毒服务</a>
           <div class="sub">
			<a href="#">行业案例</a>
            <a href="#">合作客户</a>            
           </div>
        </li>
        <li>
          <a href="#">个人& 家庭消毒</a>
        	<div class="sub">
             <a href="#">产品简介</a>
             <a href="#">核心技术视频</a>
             <a href="#">5大优势</a>
             <a href="#">专家建议</a>
            </div>
        </li>
        <li>
          <a href="#">关于我们</a>
        	<div class="sub">
			 <a href="#">简介</a>
             <a href="#">理念</a>
             <a href="#">发展史</a>           
            </div>
        </li>
        <li>
          <a href="#">技术</a>
        	<div class="sub">
			 <a href="#">长效原理</a>
             <a href="#">5大优势</a>
             <a href="#">技术对比</a>
             <a href="#">高效消毒</a>         
            </div>
        </li>
        <li><a href="#">媒体中心</a>
        	<div class="sub">
			  <a href="#">官方新闻</a>
              <a href="#">媒体报道</a>
              <a href="#">专家建议</a>
              <a href="#">活动专题</a>            
            </div>
        </li>
        <li>
          <a href="#">相关下载</a>
        	<div class="sub">
			  <a href="#">产品资料</a>
              <a href="#">宣传物料</a>
              <a href="#">产品教程</a>
              <a href="#">报告下载</a> 
            </div>
        </li>
        <li class="last">
          <a href="#">联系我们</a>
            <div class="sub">
             <a href="#">联系方式</a>
             <a href="#">经销网络</a>
            </div>
        </li>
        </ul>
       <div>
        <div class="copy">
          <a href="#">保密声明&nbsp; |</a>
          <a href="#">相关法律&nbsp; |</a>
          <a href="#">联系方式&nbsp; |</a>          
          <a href="#">网站地图&nbsp; |</a>
          <div class="copy2">版权所有 CopyRight © 2014 广州某某生物科技有限公司</div>
         </div> 
         <img src="images/erweima.jpg" width="90px" height="87" style=" float:right; margin-right:30px;" />
         <div class="copy3">
          <div class="copy4">
            <p class="add">地址：某某市某某区某某路某某号某某塔C座xxxx</p><br />
            <p class="ph">Tel : 13533330098 &nbsp; 18033459987</p><br />
            <p class="email">E-mail : woshuonimei@nimeimeide.com.cn</p>
          </div>                   
         </div>
        </div>
    </div>
</div>
</body>
</html>