<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>消毒方法,测试实验,高效消毒剂,消毒服务</title>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="header">
	<div class="header">
    	<div class="h_top">
        <div>
           <span>您好，欢迎您来到某某生物有限公司！</span>
           <a href="#" class="jrsc">加入收藏</a>
           <a href="#" class="swsy">设为首页 &nbsp;&nbsp;&nbsp;|</a> 
         </div>
        </div>
        <div class="log">
        <div><a><img src="images/logo1.jpg" class="lo"/></a>
         <a class="phone"><img src="images/call11.png" width="55" height="52" /></a>
         <span class="phone1">咨询热线：0311-32039483</span>
       </div>
      </div>
        <ul class="h_nav1 l nav">
		<li><a href="#" style="">工业合作</a>
		    <div class="sub">
				<a href="#">合作案例</a>
                <a href="#">合作品牌</a>
                <a href="#">权威报告</a>            
            </div>
		</li>
        <li><a href="#" style="">消毒服务</a>
         <div class="sub">
			<a href="#">行业案例</a>
            <a href="#">合作客户</a>            
         </div>
		</li>
         <li ><a href="product.htm" style="">个人& 家庭消毒</a>
          <div class="sub">
            <a href="#">主营项目</a>
            <a href="#">核心技术视频</a>
            <a href="#">5大优势</a>
            <a href="#">专家建议</a>
            <a href="#">经销网络</a>
           </div>
         </li>
        </ul>
        <ul class="h_nav2 r nav">
        <li><a href="default.htm">首页</a></li>
        <li><a href="#">关于我们</a>
        	<div class="sub" style="width:175px">
				<a href="#">简介</a>
                <a href="#">理念</a>
                <a href="#">发展史</a>
                <a href="#">大中华区总代理</a>
                <a href="#">认证</a>
                <a href="#">合作品牌</a>
                <a href="#">合作媒体</a>            
            </div>
		</li>
        <li><a href="#">技术支持</a>
        	<div class="sub">
				<a href="#">长效原理</a>
                <a href="#">5大优势</a>
                <a href="#">技术对比</a>
                <a href="#">高效消毒</a>
                <a href="#">直观测试</a>
                <a href="#">权威报告</a>            
             </div>
        </li>
        <li><a href="news.htm" >媒体中心</a>
        	<div class="sub">
				<a href="#">官方新闻</a>
                <a href="#">媒体报道</a>
                <a href="#">专家建议</a>
                <a href="#">活动专题</a>            
            </div>
		</li>
        <li><a href="#">相关下载</a>
        	<div class="sub">
				<a href="#">产品资料</a>
                <a href="#">宣传物料</a>
                <a href="#">产品教程</a>
                <a href="#">报告下载</a>            
            </div>
		</li>
        <li class="last">
          <a href="#" >联系我们</a>
        	<div class="sub">
             <a href="#">联系方式</a>
             <a href="#">经销网络</a>
             <a href="#">服务网络</a>
             <a href="#">加盟政策</a>
             <a href="#">人才招聘</a>
             <a href="#">问与答</a>
             <a href="#">意见反馈</a>
            </div>
		</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$("#weiixn").hover(function(){$("#weipic").show()},function(){$("#weipic").hide()})
	
	$(".keyvalue").click(function(){
		var curtext = $(this).text();
		$("#curkeyword").val(curtext);
	})
})
</script>
<div id="main">
	<div class="xw_gddt"></div>
    <div class="nTab1">
    	<div class="bg">
        <ul class="tit">
			<li class="hover"><a href="#" class="a">官方新闻</a></li>
            <li><a href="#" class="a">媒体报道</a></li>
            <li><a href="#" class="a">专家建议</a></li>
            <li><a href="#" class="a">活动专题</a></li>			
        </ul>
        </div>
        <ul class="con">
        <li class="block">
        	<div class="main">
			<div class="m_list2">
                	<div class="img">
                      <a href="#">
                        <img src="images/xwlb_1.jpg" width="216" height="100" class="img_x">
                      </a>
                     </div>
                    <div class="title">
                     <p class="p1">
                      <a href="about.htm" style="color:#1a376a">健康保障示范园 受邀参加新西兰APEX育儿论坛</a>
                     </p>
                     <p class="p2">2015/08/26</p>
                      <a href="#">
                        <img class="btn" src="images/zn_pic67.jpg">
                      </a>
                     </div>
                    <div class="con">
                      <a href="#" style="color:#333">8月22日上午，国际幼儿园联盟论坛APEX在新西兰召开，应新西兰教育部邀请，中国多个地区园长代表出席了此次会议。主要来自...</a>
                    </div>
                    <div class="clear"></div>
              </div>
                <div class="m_list2">
                	<div class="img">
                     <a href="#">
                      <img src="images/xwlb_2.jpg" width="216" height="100" class="img_x">
                     </a>
                    </div>
                    <div class="title">
                     <p class="p1">
                      <a href="#" style="color:#1a376a">园长远赴新西兰APEX 交流幼儿健康保障经验</a>
                     </p>
                     <p class="p2">2015/08/26</p>
                      <a href="#">
                       <img class="btn" src="images/zn_pic67.jpg">
                      </a>
                  </div>
                    <div class="con">
                     <a href="#" style="color:#333">2015年8月22日，国际幼儿园联盟会议APEX在新西兰召开，应新西兰教育部邀请，中国地区多位园长前往参加APEX，交流...</a>
                    </div>
                    <div class="clear"></div>
                </div>	
                <div class="m_list2" style="border:0;">
                	<div class="img">
                     <a href="#">
                       <img src="images/xwlb_3.jpg" width="216" height="100" class="img_x">
                     </a>
                </div>
                    <div class="title">
                      <p class="p1">
                       <a href="#" style="color:#1a376a">健康保障示范园园长代表 参观ZOONO新西兰工厂</a>
                      </p>
                      <p class="p2">2015/08/26</p>
                       <a href="#">
                        <img class="btn" src="images/zn_pic67.jpg">
                       </a>
                     </div>
                    <div class="con">
                     <a href="#" style="color:#333">上文提及，2015年8月22日，国际幼儿园联盟会议APEX在新西兰召开，应新西兰教育部邀请，中国地区多位园长前往参加AP...</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="blank4"></div>
   <div class="Page">   
      <span>46 条记录 1/6 页</span>  
                     <a href="#">下一页</a>     
                     <span class="current">1</span>
                     <a href="#">&nbsp;2&nbsp;</a>
                     <a href="#">&nbsp;3&nbsp;</a>
                     <a href="#">&nbsp;4&nbsp;</a>
                     <a href="#">&nbsp;5&nbsp;</a>
                     <a href="#">下5页</a>
                     <a href="#">末页</a> 
  </div>
                <div class="clear"></div>
                <div class="blank4"></div>
            </div>
        </li>
        </ul>
    </div>
</div>
﻿﻿<div id="footer">
	<div class="footer">
    	<ul class="f_nav">
        <li><a href="#">工业合作</a>
        	<div class="sub">
			  <a href="#">合作案例</a>
              <a href="#">合作品牌</a>
              <a href="#">权威报告</a>            
            </div>
        </li>
        <li>
          <a href="#">消毒服务</a>
           <div class="sub">
			<a href="#">行业案例</a>
            <a href="#">合作客户</a>            
           </div>
        </li>
        <li>
          <a href="#">个人& 家庭消毒</a>
        	<div class="sub">
             <a href="#">产品简介</a>
             <a href="#">核心技术视频</a>
             <a href="#">5大优势</a>
             <a href="#">专家建议</a>
            </div>
        </li>
        <li>
          <a href="#">关于我们</a>
        	<div class="sub">
			 <a href="#">简介</a>
             <a href="#">理念</a>
             <a href="#">发展史</a>           
            </div>
        </li>
        <li>
          <a href="#">技术</a>
        	<div class="sub">
			 <a href="#">长效原理</a>
             <a href="#">5大优势</a>
             <a href="#">技术对比</a>
             <a href="#">高效消毒</a>        
            </div>
        </li>
        <li><a href="#">媒体中心</a>
        	<div class="sub">
			  <a href="#">官方新闻</a>
              <a href="#">媒体报道</a>
              <a href="#">专家建议</a>
              <a href="#">活动专题</a>            
            </div>
        </li>
        <li>
          <a href="#">相关下载</a>
        	<div class="sub">
			  <a href="#">产品资料</a>
              <a href="#">宣传物料</a>
              <a href="#">产品教程</a>
              <a href="#">报告下载</a> 
            </div>
        </li>
        <li class="last">
          <a href="#">联系我们</a>
            <div class="sub">
             <a href="#">联系方式</a>
             <a href="#">经销网络</a>
            </div>
        </li>
        </ul>
       <div>
        <div class="copy">
          <a href="#">保密声明&nbsp; |</a>
          <a href="#">相关法律&nbsp; |</a>
          <a href="#">联系方式&nbsp; |</a>          
          <a href="#">网站地图&nbsp; |</a>
          <div class="copy2">版权所有 CopyRight © 2014 广州某某生物科技有限公司</div>
         </div> 
         <img src="images/erweima.jpg" width="90px" height="87" style=" float:right; margin-right:30px;" />
         <div class="copy3">
           <div class="copy4">
            <p class="add">地址：某某市某某区某某路某某号某某塔C座xxxx</p><br />
            <p class="ph">Tel : 13533330098 &nbsp; 18033459987</p><br />
            <p class="email">E-mail : woshuonimei@nimeimeide.com.cn</p>
          </div>                  
         </div>
        </div>
    </div>
</div>
</body>
</html>