<?xml version="1.0" encoding="utf-8"?>
<smsconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <smsaccountsid>8aaf070858cd982e0158d723732b0644</smsaccountsid>
  <smsauthtoken>ae968441a62e4e929cb02f85046b65df</smsauthtoken>
  <smsapiurl>https://app.cloopen.com:8883</smsapiurl>
  <smsappid>8aaf07086077a6e601607d907edc0316</smsappid>
  <smsapptoken>d7fd69680dba7d5b736dbe3a3f6222ba</smsapptoken>
</smsconfig>
