<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="YueBonSoft.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="YueBonSoft.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="YueBonSoft.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="YueBonSoft.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="YueBonSoft.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="YueBonSoft.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="YueBonSoft.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="YueBonSoft.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="YueBonSoft.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="YueBonSoft.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="YueBonSoft.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="YueBonSoft.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="YueBonSoft.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="YueBonSoft.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="YueBonSoft.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="YueBonSoft.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="YueBonSoft.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="YueBonSoft.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="YueBonSoft.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news" type="index" page="news.aspx" inherit="YueBonSoft.Web.UI.Page.article" templet="news.html" channel="news">
    <item path="news.aspx" pattern="news.aspx" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="12">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}-{1}.aspx" pattern="news/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="video" type="index" page="video.aspx" inherit="YueBonSoft.Web.UI.Page.article" templet="video.html" channel="video">
    <item path="video.aspx" pattern="video.aspx" />
  </rewrite>
  <rewrite name="video_list" type="list" page="video_list.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="video_list.html" channel="video" pagesize="20">
    <item path="video/{0}.aspx" pattern="video/(\d+).aspx" querystring="category_id=$1" />
    <item path="video/{0}/{1}.aspx" pattern="video/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="video_show" type="detail" page="video_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="video_show.html" channel="video">
    <item path="video/show-{0}.aspx" pattern="video/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="YueBonSoft.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="YueBonSoft.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="brand" type="detail" page="brand.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="brand.html" channel="brand">
    <item path="brand/{0}/{1}.aspx" pattern="brand/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="jiameng" type="detail" page="jiameng.aspx" inherit="YueBonSoft.Web.UI.Page.index" templet="jiameng.html" />
  <rewrite name="content" type="detail" page="content.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="goods" type="index" page="goods.aspx" inherit="YueBonSoft.Web.UI.Page.article" templet="goods.html" channel="goods">
    <item path="goods.aspx" pattern="goods.aspx" />
  </rewrite>
  <rewrite name="goods_list" type="list" page="goods_list.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="goods_list.html" channel="goods" pagesize="20">
    <item path="goods/{0}.aspx" pattern="goods/(\d+).aspx" querystring="category_id=$1" />
    <item path="goods/{0}/{1}.aspx" pattern="goods/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="gsearch" type="list" page="gsearch.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="gsearch.html" channel="goods" pagesize="20" />
  <rewrite name="goods_show" type="detail" page="goods_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="goods_show.html" channel="goods">
    <item path="goods/show-{0}.aspx" pattern="goods/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="photo" type="index" page="photo.aspx" inherit="YueBonSoft.Web.UI.Page.article" templet="photo.html" channel="photo">
    <item path="photo.aspx" pattern="photo.aspx" />
  </rewrite>
  <rewrite name="photo_list" type="list" page="photo_list.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="photo_list.html" channel="photo" pagesize="20">
    <item path="photo/{0}.aspx" pattern="photo/(\d+).aspx" querystring="category_id=$1" />
    <item path="photo/{0}/{1}.aspx" pattern="photo/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="photo_show" type="detail" page="photo_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="photo_show.html" channel="photo">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case" type="list" page="case.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="case.html" channel="case" pagesize="20">
    <item path="case.aspx" pattern="case.aspx" />
    <item path="case/{0}.aspx" pattern="case/(\d+).aspx" querystring="category_id=$1" />
    <item path="case/{0}/{1}.aspx" pattern="case/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="case_show" type="detail" page="case_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="case_show.html" channel="case">
    <item path="case/show-{0}.aspx" pattern="case/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="jobs" type="list" page="jobs.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="jobs.html" channel="jobs" pagesize="20">
    <item path="jobs.aspx" pattern="jobs.aspx" />
    <item path="jobs/{0}.aspx" pattern="jobs/(\d+).aspx" querystring="category_id=$1" />
    <item path="jobs/{0}/{1}.aspx" pattern="jobs/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="jobs_show" type="detail" page="jobs_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="jobs_show.html" channel="jobs">
    <item path="jobs/show-{0}.aspx" pattern="jobs/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="down" type="list" page="down.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="down.html" channel="down" pagesize="20">
    <item path="down.aspx" pattern="down.aspx" />
    <item path="down/{0}.aspx" pattern="down/(\d+).aspx" querystring="category_id=$1" />
    <item path="down/{0}/{1}.aspx" pattern="down/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="down_show" type="detail" page="down_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="down_show.html" channel="down">
    <item path="down/show-{0}.aspx" pattern="down/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="capacity" type="detail" page="capacity.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="capacity.html" channel="capacity">
    <item path="capacity/{0}.aspx" pattern="capacity/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="contenten" type="detail" page="contenten.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="contenten.html" channel="contenten" pagesize="20">
    <item path="contenten/{0}.aspx" pattern="contenten/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="capacityen" type="detail" page="capacity.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="capacity.html" channel="capacityen">
    <item path="capacityen/{0}.aspx" pattern="capacityen/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="usergoodsopportunitys" type="list" page="usergoodsopportunitys.aspx" inherit="YueBonSoft.Web.UI.Page.usergoodsopportunitys" templet="usergoodsopportunitys.html" pagesize="10">
    <item path="user/goodsopportunitys-{0}.aspx" pattern="user/goodsopportunitys-(\w+).aspx" querystring="action=$1" />
    <item path="user/goodsopportunitys-{0}-{1}.aspx" pattern="user/goodsopportunitys-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usergoodsopportunity_edit" type="other" page="usergoodsopportunity_edit.aspx" inherit="YueBonSoft.Web.UI.Page.usergoodsopportunity_edit" templet="usergoodsopportunity_edit.html">
    <item path="user/goodsopportunity/{0}.aspx" pattern="user/goodsopportunity/(\w+).aspx" querystring="action=$1" />
    <item path="user/goodsopportunity/{0}-{1}.aspx" pattern="user/goodsopportunity/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="goodsopportunity_list" type="list" page="goodsopportunity_list.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="goodsopportunity_list.html" channel="goodsopportunity" pagesize="20">
    <item path="goodsopportunity/{0}-{1}.aspx" pattern="goodsopportunity/(\d+)-(\w+).aspx" querystring="category_id=$1^page=$2" />
    <item path="goodsopportunity/{0}.aspx" pattern="goodsopportunity/(\d+).aspx" querystring="category_id=$1" />
  </rewrite>
  <rewrite name="goodsopportunity_show" type="detail" page="goodsopportunity_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="goodsopportunity_show.html" channel="goodsopportunity">
    <item path="goodsopportunity/show-{0}-{1}.aspx" pattern="goodsopportunity/show-(\d+)-(\d+).aspx" querystring="id=$1^wxid=$2" />
  </rewrite>
  <rewrite name="goodsopportunitys" type="index" page="goodsopportunitys.aspx" inherit="YueBonSoft.Web.UI.Page.article" templet="goodsopportunitys.html" channel="goodsopportunity" pagesize="20">
    <item path="goodsopportunitys.aspx" pattern="goodsopportunitys.aspx" />
  </rewrite>
  <rewrite name="lineselect" type="list" page="lineselect.aspx" inherit="YueBonSoft.Web.UI.Page.article_list" templet="lineselect.html" channel="lineselect" pagesize="20">
    <item path="lineselect.aspx" pattern="lineselect.aspx" />
    <item path="lineselect/{0}.aspx" pattern="lineselect/(\d+).aspx" querystring="category_id=$1" />
    <item path="lineselect/{0}/{1}.aspx" pattern="lineselect/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="lineselect_show" type="detail" page="lineselect_show.aspx" inherit="YueBonSoft.Web.UI.Page.article_show" templet="lineselect_show.html" channel="lineselect">
    <item path="lineselect/show-{0}-{1}.aspx" pattern="lineselect/show-(\d+)-(\d+).aspx" querystring="id=$1^wxid=$2" />
  </rewrite>
</urls>