<!--[if lte IE 8]>
    <div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
    <p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
    </div>
<![endif]-->
<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <a href="<%linkurl("index")%>" class="navbar-logo vertical-align" title="{site.seo_title}">
                    <div class="vertical-align-middle"><img src="{site.logo}" alt="{site.seo_title}" title="{site.seo_title}" /></div>
                </a>
            </div>
            <div class="pull-right econav">
                <ul>
                    <li>
                        <button type="button" data-target="#site-navbar-search" data-toggle="modal">
                            <span class="sr-only">Toggle Search</span>
                            <i class="icon fa-search"></i>
                        </button>
                    </li>
                    <li>
                        <div style=""><a href="http://www.yanxuan-mould.com/">中文版</a></div>
                    </li>
                    <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                            data-target="#example-navbar-default-collapse" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="hamburger-bar"></span>
                    </button>
                 </ul>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">
                <ul class="nav navbar-nav navbar-right navlist">
                    <li><a href="<%linkurl("index")%>" title="Home" class="link active">Home</a></li>
                    <li class="dropdown margin-left-30 ecodropdown">
                        <a class="dropdown-toggle link animation-slide-top" data-toggle="dropdown" data-hover="dropdown"
                           href="<%linkurl("contenten","about")%>" 
                        aria-expanded="false"
                            role="button" title="About Us">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <%set DataTable aboutList=get_article_list("contenten", 10,"status=0")%>
                            <%loop abdr aboutList%>
                            <li><a class="animation-slide-top" href="<%linkurl("contenten",{abdr[call_index]})%>" title="{abdr[title]}">{abdr[title]}</a></li>
                            <%/loop%>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-30 ecodropdown">
                        <a class="dropdown-toggle link animation-slide-top"
                            data-toggle="dropdown" data-hover="dropdown"
                            href="<%linkurl("capacityen","yanfa")%>"
                            aria-expanded="false"
                            role="button" title="capacity">Capacity<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <%set DataTable capacityList=get_article_list("capacityen", 10,"status=0")%>
                            <%loop cadr capacityList%>
                            <li><a class="animation-slide-top" href="<%linkurl("capacityen",{cadr[call_index]})%>" title="{cadr[title]}">{cadr[title]}</a></li>
                            <%/loop%>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-30 ecodropdown">
                        <a class="dropdown-toggle link animation-slide-top"
                            data-toggle="dropdown" data-hover="dropdown"
                            href="<%linkurl("goodsen")%>"
                            aria-expanded="false"
                            role="button"
                            title="Product">Product<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <!--<li class="visible-xs-block"><a href="<%linkurl("goods")%>" title="全部">全部</a></li>-->
                            <%set DataTable gdcaList=get_category_list("goodsen", 0)%>
                            <%loop gdcadr gdcaList%>
                            <li><a class="animation-slide-top" href="<%linkurl("goodsen",{gdcadr[id]})%>" class="" title="{gdcadr[title]}">{gdcadr[title]}</a></li>
                            <%/loop%>
                        </ul>
                    </li>
                    <li class="dropdown margin-left-30 ecodropdown">
                        <a class="dropdown-toggle link animation-slide-top"
                            data-toggle="dropdown" data-hover="dropdown"
                            href="<%linkurl("newsen")%>"
                            aria-expanded="false"
                            role="button"
                            title="News">News<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
                            <!--<li class="visible-xs-block"><a href="<%linkurl("news")%>" title="全部">全部</a></li>-->
                            <%set DataTable newscategoryList=get_category_child_list("newsen",0)%>
                            <%foreach(DataRow hdcdr in newscategoryList.Rows)%>
                            <li><a class="animation-slide-top" href="<%linkurl("news_listen",{hdcdr[id]})%>" title="{hdcdr[title]}">{hdcdr[title]}</a></li>
                            <%/foreach%>
                        </ul>
                    </li>

                    <li class="margin-left-30"><a href="<%linkurl("caseen")%>" title="Cases" class="link animation-slide-top">Cases</a></li>
                    <li class="margin-left-30"><a href="<%linkurl("jobsen")%>" title="Jobs" class="link animation-slide-top">Jobs</a></li>
                    <!--<li class="margin-left-0"><a href="<%linkurl("down")%>" title="资料下载" class="link animation-slide-top">资料下载</a></li>-->
                    <li class="margin-left-30" ><a href="<%linkurl("contenten","contact")%>" title="Contact" class="link animation-slide-top">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

