<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <%set string category_title=get_category_title(model.category_id,"购物商城")%>
    <%set string strTitle=model.title%>
    <%if(model.seo_title!="")%>
    <%set strTitle=model.seo_title%>
    <%/if%>
    <title>{strTitle} - {category_title} - {site.name}</title>
    <meta name="keywords" content="{model.seo_keywords}" />
    <meta name="description" content="{model.seo_description}" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/bootstrap-extend.min.css" />
    <link href="{config.webpath}css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{config.webpath}css/flagicon/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{config.webpath}scripts/swiper/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="<%templateskin%>/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/breakpoints.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/swiper/js/swiper.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body id="goods" class="met-navfixed">
<!--页面头部-->
<%template src="_header.html"%>
<!--/页面头部-->
    <div class="met-banner-ny vertical-align text-center">
        <h1 class="vertical-align-middle">Product</h1>
    </div>
<!--当前位置-->
<%set string category_nav=get_category_menu("goods_list", model.category_id)%>
<div class="met-position  pattern-show">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="<%linkurl("index")%>" title="Home">
                        <i class="icon fa-home" aria-hidden="true"></i>Home
                    </a>
                </li>
                <li class="dropdown">
                    <a href="<%linkurl("goodsen")%>"
                        title="Product"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false">Product<i class="caret"></i></a>
                    <ul class="dropdown-menu bullet">
                        <!--<li><a href="<%linkurl("goods")%>" title="全部">全部</a></li>-->
                        <%set DataTable categoryList=get_category_child_list(channel,0)%>
                        <%foreach(DataRow cdr in categoryList.Rows)%>
                        <li><a href="<%linkurl("goodsen",{cdr[id]})%>" title="{cdr[title]}">{cdr[title]}</a></li>
                        <%/foreach%>
                    </ul>
                </li>
                <li class="dropdown">
                    {category_nav}
                </li>
            </ol>
        </div>
    </div>
</div>
<!--/当前位置-->
<div class="page met-showproduct pagetype1 animsition">
    <div class="met-showproduct-head">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-7">
                    <div class="swiper-container gallery-top">
                        <ul class="swiper-wrapper">
                            <%if(model.albums!=null)%>
                            <%foreach(YueBonSoft.Model.article_albums modelt in model.albums)%>
                            <li class="swiper-slide"><img src="{modelt.original_path}" /></li>
                            <%/foreach%>
                            <%/if%>
                        </ul>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-black"></div>
                        <div class="swiper-button-prev swiper-button-black"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <ul class="swiper-wrapper">                            
                            <%if(model.albums!=null)%>
                            <%foreach(YueBonSoft.Model.article_albums modelt in model.albums)%>
                            <li class="swiper-slide"><img src="{modelt.thumb_path}" /></li>
                            <%/foreach%>
                            <%/if%>
                        </ul>
                    </div>
			    </div>
			    <div class="visible-xs-block visible-sm-block height-20"></div>
			    <div class="col-md-5 product-intro">
				    <h1>{model.title}</h1>
				    <p class="description">{model.zhaiyao}</p>
				    
				    <div class="tools">
                        <!--分享-->
                        <%template src="_share_js.html"%>
                        <!--/分享-->
                    </div>
			    </div>
		    </div>
	    </div>
    </div>
    <div class="met-showproduct-body">
		<div class="container">
			<div class="row no-space">
				<div class="col-md-9 product-content-body">
					<div class="row">
					<div class="panel product-detail">
						<div class="panel-body">
							<ul class="nav nav-tabs nav-tabs-line met-showproduct-navtabs affix-nav">
								<li class="active"><a data-toggle="tab" href="#product-details" data-get="product-details">Description</a></li>
								<!--<li><a data-toggle="tab" href="#product-content1" data-get="product-content1">商品评论</a></li>-->
							</ul>
							<div class="tab-content">
								<div class="tab-pane met-editor lazyload clearfix animation-fade active" id="product-details">
									<div>{model.content}</div>
								</div>
							</div>
						</div>
					</div>

					</div>
				</div>

				<!--右侧开始-->
				<div class="col-md-3">
				<div class="row">
					<div class="panel product-hot">
						<div class="panel-body">
						<h4 class="example-title">Hot Promotion</h4>
							<div class="row">
                                <%set DataTable redGoods=get_article_list(channel, model.category_id, 4, "status=0 and is_red=1")%>
                                <%foreach(DataRow dr in redGoods.Rows)%>
								<div class="product-hot-list col-md-12 col-sm-4 col-xs-4 text-center margin-bottom-10">
									<a href="<%linkurl("goods_showen",{dr[id]})%>" target="_blank" class="img" title="{dr[title]}">
										<img data-original="{dr[img_url]}" src="{dr[img_url]}" class="img-responsive"  alt="{dr[title]}">
									</a>
									<a href="<%linkurl("goods_showen",{dr[id]})%>" target="_blank" class="txt" title="{dr[title]}">{dr[title]}</a>
								</div>
                                <%/foreach%>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!--右侧结束-->

			</div>
		</div>
	</div>
</div>
<!--页面底部-->
<%template src="_footer.html"%>
<!--/页面底部-->
    <style type="text/css">
        .swiper-container{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .swiper-slide{
            background-size: cover;
            background-position: center;
         }
        .gallery-top{
            width: 100% !important;
            border:1px #f3f3f3 solid;
        }
        .gallery-thumbs{
            box-sizing: border-box;
            padding: 10px 0;
        }
        .gallery-thumbs .swiper-slide{
            width:20%;
            opacity: 0.4;
            border:1px #f3f3f3 solid;
        }
         .gallery-top  .swiper-slide>img, .gallery-thumbs .swiper-slide>img{
             width:100%;
        }
        .gallery-thumbs .swiper-slide-active {
            opacity: 1;
        }
    </style>
    <script type="text/javascript">
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      touchRatio: 0.2,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      slideToClickedSlide: true,
    });
    galleryTop.controller.control = galleryThumbs;
    galleryThumbs.controller.control = galleryTop;

    </script>
</body>
</html>